[2017-09-08 05:04] ranmyfriend opened #4 "HeaderView is not showing properly on iPhone6 Simulator"
![simulator screen shot sep 8 2017 10 33 22 am](https://user-images.githubusercontent.com/9623406/30196841-3ea6f7c4-9481-11e7-94f4-a0a2de073ce5.png)

[2017-09-08 05:05] ranmyfriend commented on #4
And also the check for the ImageView content mode. It should not be stretchable.

[2017-09-08 05:17] ranmyfriend opened #5 "Pending Things"
- [x] Check for the Auto Slide on the Story Detail @boominadhaprakash
- [x] Determine some standard time duration for ImageType and the Progress should be like 0...1.0  @boominadhaprakash
- [x] Play/Resume Story @ranmyfriend
- [x]  Capture the **lastPlayedSnap** on Story and whenever user is trying visit before going to start index of 0, it should start with lastPlayedSnap and also make ..< lastPl

[2017-09-10 10:30] #4 closed, assigned to ranmyfriend

[2017-09-10 10:47] ranmyfriend commented on #5
Attachments are i have added here. @boominadhaprakash can you please have look if you have any query. And if you have any hand drawn sketch add here please.
![App Design](https://user-images.githubusercontent.com/9623406/30248339-5a127074-9643-11e7-9a9e-63443798562b.JPG)
![Model Hierarchy](https://user-images.githubusercontent.com/9623406/30248338-5a0024f0-9643-11e7-9e01-caa32b1ada41.JPG)
![Snap T

[2017-09-10 10:58] ranmyfriend commented on #5
[code]

[2017-09-25 14:52] ranmyfriend opened #9 "Questions & Advices"
- [x] We should not create UIImageView blindly for the Snaps_count. It should be on demand. Because user is going to check the snap one by one, and even we already showing him how many snaps is there under story with help of ProgressBars.
- [x] _CreateSnappers_ method should not have **High_Priority**. This is expensive code but it should not happen on Synchronous way. It should happen on Race con

[2017-10-09 10:11] ranmyfriend commented on #9
We have covered all these issues and code improvisation has done.

[2017-10-09 10:12] #9 closed, assigned to ranmyfriend, boominadhaprakash

[2017-10-09 11:04] ranmyfriend opened #14 "Have to follow Github Community standard"
- [x] Once we close the issues/improvisations on our project, we should address the community standards here https://github.com/ranmyfriend/Instagram_Stories/community

- [x] Create public open organization and discuss among people, Instead of creating and issue and setting on different labels on repository wise. refer:https://github.com/account/organizations/new

[2017-10-29 21:45] ranmyfriend opened #20 "Code Refactoring"
- [x] Apply Codeable protocol and remove SwiftyJSON on our models i.e.. ___IGStories_,_IGStory_,IGSnap_,IGUser_ @boominadhaprakash
- [x] Remove **SDWebImage** and create a helper for ImageFetcher, @note already NickLockWood written amazing wrapper for this. @refer https://github.com/nicklockwood/AsyncImageView @boominadhaprakash

[2017-11-12 15:35] boominadhaprakash opened #22 "v0.1 Beta Release"
- [x] Apply MVVM in IGStoryPreviewViewController
- [x] Persist lastPlayedSnapIndex value for stories
- [x] Fix CubicAnimatedLayout issue
- [x] Concentrate on GUI Basic padding issues

[2018-03-18 15:11] boominadhaprakash commented on #22
All tasks are completed for beta release

[2018-03-18 15:11] #22 closed, assigned to ranmyfriend, boominadhaprakash

[2018-07-03 18:02] mrhaxic opened #33 "Video support"
Hello guys is there any chance to have video support also for the stories ?

[2018-07-04 04:56] boominadhaprakash commented on #33
@mrhaxic Currently video support is not available. We will work on that and It will take some time(approx 1 week) to update that feature.

[2018-07-04 20:17] mrhaxic commented on #33
Pleasure to hear that, Good luck

[2018-08-28 21:51] danishnaeem57 opened #34 "move to next or previous picture tap gesture"
Hi, first of all, thanks for this awesome library. Can you please tell us, how to implement "move to next or previous picture on tap gesture" just like instagram and whatsapp?

[2018-08-31 09:28] boominadhaprakash commented on #34
Hi @danishnaeem57
Thanks for submitting the issue. The logic behind that move to next and previous is, have to **add tap gesture to scrollView in IGStoryPreviewCell** and **manage the snapIndex based on the gestures direction**.
You can try with this logic, Even we also started working on this feature with video functionality. Once we have completed this task from our end, we will intimate you.

T

[2018-08-31 09:32] boominadhaprakash commented on #33
Hi @mrhaxic
Sorry for the much delay. Still we are working on that. Video support has been added but facing some issues while moving to next and previous snap. Once we done that, I will post the comment here.

[2018-08-31 09:33] boominadhaprakash commented on #33
@mrhaxic
If you want to test the Video support, you can find the source code under Boomi/VideoSupport branch.

[2018-08-31 10:48] mrhaxic commented on #33
@boominadhaprakash Will test with my pleasure 👍

[2018-09-01 07:08] boominadhaprakash commented on #33
@mrhaxic Sorry, I think I forgot to push the code. I will push it in 10 mins.

[2018-10-11 12:05] danishnaeem57 commented on #34
Hi.
Any update about previous picture tap gesture?

Thanks.

[2018-10-16 18:53] ranmyfriend commented on #34
Sorry for being late about this fix. Actually, we have fixed it but facing some side effects on this. We were busy with something else. Give us some time.
Once we have fixed it let you know @danishnaeem57

Keep in touch :)
Thanks,
Ranjith

[2018-10-16 19:49] danishnaeem57 commented on #34
Thanks for your reply @ranmyfriend 👍 Please do that ASAP. I am vigorously waiting for this library updates.

[2018-11-01 13:16] janczakb opened #35 "Swift 4.2 - Instance member 'reuseIdentifier' cannot be used on type 'IGStoryPreviewCell'"

[2018-11-07 12:28] janczakb commented on #33
@boominadhaprakash Have you added video support yet?

[2018-12-13 08:47] chintanTBI commented on #34
Hello,
Any update regarding to the functionality of tap to go previous/next?
Thanks.

[2018-12-13 08:48] chintanTBI commented on #33
Hello,
is video support functionality available?

Thanks

[2018-12-13 09:30] ranmyfriend commented on #33
We need sometime to support this feature request. Please support on following the commits and branch updates on future.

Thanks,
Ranjith

[2019-01-04 21:13] danishnaeem57 commented on #34
can you please tell us, how much time will it take for you guys to implement this feature? Thanks!

Regards.

[2019-01-06 15:34] boominadhaprakash commented on #34
Hi @danishnaeem57 @chintanTBI

Sorry for the delay. Still we are working on it. Will let you know the status by tomorrow.

[2019-01-06 17:13] danishnaeem57 commented on #34
ok @boominadhaprakash
we will be waiting for your response.

Thanks.

[2019-01-07 17:09] boominadhaprakash commented on #34
Hi @danishnaeem57
We are working on it. Hope we will fix the bug by this Friday.

[2019-01-08 05:48] boominadhaprakash commented on #35
@janczakb Sorry for the delayed response. We will check and let you know.

[2019-01-08 05:54] boominadhaprakash commented on #35
@janczakb But we are currently using latest Xcode and Swift v4.2 only, we are getting this issue. Can you provide snap of code and screenshot? So that we can understand what you are trying to do and we can help you out.

Thanks,
Boominadha Prakash

[2019-01-08 14:53] danishnaeem57 commented on #34
Thank you so much Sir. Take your time. I will check on it on Friday.

[2019-01-10 16:26] boominadhaprakash commented on #34
@danishnaeem57 We have fixed left and right tap issues for pictures only.
Check and don't hesitate to post your feedback as well as issues.

[2019-01-10 16:28] #5 closed, assigned to shantharsk, ranmyfriend, boominadhaprakash

[2019-01-10 18:06] #35 closed, assigned to ranmyfriend, boominadhaprakash

[2019-01-10 23:50] danishnaeem57 commented on #34
hi @boominadhaprakash , thank you so much that you have updated this and added required features. But still there are some problems with the features, you have added. Such as, if you open first story then tap right again and again till last story as quickly as you can, you can identify the problem e.g lagging, crash, damaged image progress bar at top, sometimes incomplete previous progress bar etc

[2019-01-11 02:24] danishnaeem57 commented on #34
I have attached a zip containing screen recording which will give you better idea about bugs.

[bugs.zip](https://github.com/drawRect/Instagram_Stories/files/2747824/bugs.zip)

[2019-01-11 02:33] ranmyfriend commented on #34
Thanks. We found ourself this bug yesterday but until otherwise user do fast taps on the picture then only this bug arises. So we are trying to fix this bug as soon as possible and let you know the update.

[2019-01-11 04:15] danishnaeem57 commented on #34
Awesome. Thank you so much guys! keep it up.

[2019-02-20 22:08] derens99 opened #37 "How do I implement this into my app?"

[2019-02-21 16:46] ranmyfriend commented on #37
Hi @derens99  I recommend you to go through our JSON Structure
https://github.com/drawRect/Instagram_Stories/blob/master/InstagramStories/stories.json
Actually, we did not use any backend service here. We simply created on backup json in bundle file and loading all the Image Assets using the respective snaps and users. In our understanding, we defined the response if it comes in the manner it woul

[2019-03-05 07:19] divyansh-iimjobs commented on #33
Hi @ranmyfriend, have you implemented the video support or still working on that?

[2019-03-06 04:53] #37 closed, assigned to nobody

[2019-03-06 06:51] boominadhaprakash commented on #33
Hi @divyansh-iimjobs
Greetings.

We have implemented Video functionality. But when we're tested out on the last couple of days back we found one issue.

**Here is the issue desc:**
Once the Video has been played, if we do the Left tap, the progress bar duration time is not taking video length duration. Instead, it is taking the default 5 seconds of duration.

Note: Once end user gets an image it w

[2019-03-07 16:37] boominadhaprakash commented on #34
Hi @danishnaeem57

Greetings,
We have fixed that fast tap issues. Kindly go through the source code and play with that from **"master"** branch.
Spread the word.
Thanks for your patience. Let us know if you found any issues.

Regards,
Boominadha Prakash

[2019-03-07 16:37] #34 closed, assigned to ranmyfriend, boominadhaprakash

[2019-03-07 16:38] #14 closed, assigned to ranmyfriend

[2019-03-09 16:30] boominadhaprakash commented on #33
Hi all @mrhaxic  @divyansh-iimjobs  @chintanTBI  @janczakb

We have implemented Video functionality. Please checkout the master branch and play with it.

Let us know if you face any issues and your feedbacks.

Regards,
Boominadha Prakash

[2019-03-09 16:30] #33 closed, assigned to boominadhaprakash

[2019-04-02 16:47] boominadhaprakash commented on #20
Hi Ranjith,

I have removed SDWebImage library and handled caching techniques using NSCache.
Can you please merge the code?

[2019-04-02 16:49] ranmyfriend commented on #20
Nice!!!.

I have seen your branch **Boomi/SDWebImageRemoval**. And I have merged at **Master**.

Now the Master branch is up to date.

Thanks.
Ranjith

[2019-04-03 09:45] nvish-deepakthakur opened #48 "crash when tap forward fast."
[NSKeyValueObservance retain]: message sent to deallocated instance

[2019-04-03 10:03] boominadhaprakash commented on #48
@nvish-deepakthakur Hi,

Thanks for posting the issue. We will look into it. Let you know once we fixed that issue.

[2019-04-03 10:21] boominadhaprakash commented on #48
Hi @nvish-deepakthakur,

Just now I have finished testing on my iPhone 8. But I am not facing that kind of issue.
If possible, can you explain little bit more, in which environment it is crashing?

[2019-04-03 10:41] nvish-deepakthakur commented on #48
Hi@Boominadha Prakash

I am checking on iPhone 6 device & iPhone X simulator , when tap(very fast) on next video in story its crash.
When I enable zombie then I get -[NSKeyValueObservance retain]: message sent to deallocated instance 0x600003265e00

[2019-04-03 10:42] nvish-deepakthakur commented on #48
One more thing I need help for showing AVPlayers in full screen not from the save area please help me on this also

[2019-04-03 10:48] boominadhaprakash commented on #48
Hi @nvish-deepakthakur,
Thanks for your detailed description. We will look into it.
For AVPlayer full screen, you need to change AVPlayer videogravity value from resizeAspect to resize. The property available on IGPlayerView.swift file.

[2019-04-03 11:03] nvish-deepakthakur commented on #48
For AVplayer sorry you did not get my point not using  resizeAspect I need to add collection view constraints form super view not from safe area , same for content view , scroll view . please check attachment
![Simulator Screen Shot - iPhone XS Max - 2019-04-03 at 16 30 55](https://user-images.githubusercontent.com/46338597/55474119-08584e00-562e-11e9-8bb8-7f2928e43d7b.png)

Using

resizeAspect to

[2019-04-03 11:15] boominadhaprakash commented on #48
Hi @nvish-deepakthakur,
I am unable to get your point. Can you please explain your requirements step by step?

[2019-04-03 11:27] boominadhaprakash commented on #48
Have you modified any code? I can able to see top and bottom filled with some black color.
By default, we wrote code like, it will take safe are constraints if iOS version more than 11.0, otherwise it will take superview's layout constraints only.

![Screenshot 2019-04-03 at 4 59 02 PM](https://user-images.githubusercontent.com/16302912/55475547-de088f80-5631-11e9-8bbb-bda51b409fee.png)
Just try t

[2019-04-03 11:48] nvish-deepakagarwal commented on #48
Hi Boominadha,

Thanks for your quick response.
For Crash - When we try to swipe/change "videos or story" in app very fast, then after sometime app get crashed.
We checked this in instrument then got to know it's crashing with below error message:
 "[NSKeyValueObservance retain]: message sent to deallocated instance 0x600003265e00"

I am not able to find the actual problem in code for the same.

[2019-04-03 13:10] boominadhaprakash commented on #48
Thank you. We will figure it out and fix that issue.

[2019-04-05 08:19] boominadhaprakash commented on #48
Hi @nvish-deepakthakur @nvish-deepakagarwal,

Please download the source from this branch: **Boomi/KeyObserverIssue** and check whether it is crashing or not. I hope, I have fixed that issue. Please check and verify it. If you still face that issue let me know.

[2019-04-05 09:23] nvish-deepakagarwal commented on #48
Hi @boominadhaprakash,

Thanks for your response and quick fix, It's working fine now.

Also, we have Changed "view.width and view.height" to "self.view.frame.width" and "self.view.frame.height" in IGStoryPreviewController.

By this above change CollectionView frame is fixed from superview, but other classes/control like scrollview and player view are still not fix from superview.

Also, I like to

[2019-04-05 11:28] boominadhaprakash commented on #48
Hi @nvish-deepakagarwal ,
Thanks for your confirmation. Can you tell me, which device you are running that for getting UI issues.
Have you disabled safeAreaLayout in Storyboard?
How can I reproduce your issue at my side?

[2019-04-05 11:41] nvish-deepakagarwal commented on #48
Hi @boominadhaprakash,
We are running on iPhone X simulator.
Have you disabled safeAreaLayout in Storyboard? - What do you mean here, I didn't see you are using storyboard in your example code, I am trying to run that only. Please confirm if I missed anything here.

Have you disabled safeAreaLayout in Storyboard? - I hope if you run your example code in iPhone X simulator, video/image is not playi

[2019-04-05 12:09] boominadhaprakash commented on #48
Hi @nvish-deepakagarwal,

I think, I haven't understood your issue properly. So, the issue is, in iPhone X, the Story Preview is not displaying as full screen. Right?

[2019-04-05 12:10] nvish-deepakagarwal commented on #48
Yes

[2019-04-05 12:34] boominadhaprakash commented on #48
If I fixed that, then it will give weird UI issues. Have you checked, how Instagram displaying their stories on iPhoneX? I think they will display with safe area only but they make top and bottom color as black. If possible, can you check and confirm that? I will also check my side.

[2019-04-05 13:24] boominadhaprakash commented on #48
Is this fine for you? @nvish-deepakagarwal
![iPhoneX-Screenshot](https://user-images.githubusercontent.com/16302912/55630792-2364c280-57d4-11e9-913a-7f482516b3f1.png)
![iPhoneX-Screenshot1](https://user-images.githubusercontent.com/16302912/55630956-8e15fe00-57d4-11e9-906c-fd06dcdaccc3.png)

[2019-04-05 13:32] nvish-deepakagarwal commented on #48
@boominadhaprakash - This looks Okay, but my requirement is to show video in full screen, Is that something we can do to fix here, Kindly suggest !

[2019-04-05 13:43] boominadhaprakash commented on #48
See, I just changed the player videoGravity value to .resize. It is showing me full screen.

![IMG_6007](https://user-images.githubusercontent.com/16302912/55631978-e2ba7880-57d6-11e9-9a5d-7694e0ed44b9.PNG)

[2019-04-05 13:46] nvish-deepakthakur commented on #48
@boominadhaprakash  Can you please send the screen shot of your screen not simulator as above screen shots?

[2019-04-05 13:47] boominadhaprakash commented on #48
@nvish-deepakagarwal Please take the updated source from this branch **Boomi/iPhonXSafeAreaIssue**. Just change the videoGravity value to .resize in IGPlayerView.swift file and you will get to know.

[2019-04-05 13:47] boominadhaprakash commented on #48
That screenshot I have taken from my iPhone 8 only.

[2019-04-05 13:57] nvish-deepakthakur commented on #48
@boominadhaprakash  Using new branch , same issues is there please check screen shot in iPhone X
<img width="757" alt="Screen Shot 2019-04-05 at 7 24 22 PM" src="https://user-images.githubusercontent.com/46338597/55632844-bacc1480-57d8-11e9-818b-f2ae14daecd9.png">

[2019-04-05 13:59] boominadhaprakash commented on #48
How that will come to full screen. We are having this barrier right.

![Screenshot 2019-04-05 at 7 28 54 PM](https://user-images.githubusercontent.com/16302912/55633036-2ca45e00-57d9-11e9-9fec-f1100ec8acc2.png)

Can you please just check how Instagram app is displaying? I think this is the standard way to display.

[2019-04-05 14:04] nvish-deepakthakur commented on #48
@boominadhaprakash Yes this is the standard way but our required is to display it in full screen pls check screen shot.
<img width="757" alt="Screen Shot 2019-04-05 at 7 31 24 PM" src="https://user-images.githubusercontent.com/46338597/55633299-ac322d00-57d9-11e9-9529-eb01c7d2cb8c.png">

[2019-04-05 14:05] boominadhaprakash commented on #48
@nvish-deepakagarwal  oh okay. Thanks for sharing. Give me sometime. I will check and work on that.

[2019-04-05 14:17] boominadhaprakash commented on #48
Is that the screenshot what you have shared is Instagram app?

[2019-04-05 14:20] nvish-deepakthakur commented on #48
No its not from Instagram , its from my app in single video view , I just need to show instagram stories view for multiple video's with timeline in full view like single video.

[2019-04-05 14:48] boominadhaprakash commented on #48
Oh okay, got it

[2019-04-05 16:09] pcentieiro opened #50 "Start with specific snap"
Hello!

Thanks for this library which I found it very robust and complete. While it supports to go to a specific story, how can I go to a specific snap before launching the story?

I tried to set lastPlayedSnapIndex before opening the story, but it gets confused and seems that all the progress bars start playing after that index.

Thanks!

[2019-04-06 05:41] ranmyfriend commented on #50
Hi @pcentieiro

Using **lastPlayedSnapIndex** its possible but we cannot go by blind index, Because if snapsCount is 2 but if you are setting lastplayedSnapIndex is 3 then the app may crash. It is improper. For example: if you setting the last playedSnapIndex = 3 and max snaps count is 5, then 0,1,2 snaps are already played. and also the progress bar for these snaps will get auto filled on the Pre

[2019-04-06 05:56] boominadhaprakash commented on #50
Hi @pcentieiro

Give us sometime, we will test it and let you know.

[2019-04-06 08:31] pcentieiro commented on #50
Thanks! I saw your edited posts. This is what I'm trying to achieve:

- Instead of having the "usual" 4 persons / 4 different stories (each one with n snaps), I have 4 Sports Highlights on a Collection View with horizontal scrolling.
- Each Sports Highlight only has 1 snap. So, think of it with 1 Highlight = 1 Snap.
- Since it would be weird to go to through all highlights like going through all s

[2019-04-06 16:00] boominadhaprakash commented on #50
Hi @pcentieiro

I have modified our Instagram Stories code to support your requirement.

Please download the check the code from this branch: **Boomi/lastplayedsnapissue**

Now you can blindly set snapIndex value in IGStoryPreviewController, WillDisplayCell method.

Sample code for you.

[code]
If you face any issues, please feel free to raise issues.

[2019-04-06 16:00] #50 closed, assigned to ranmyfriend, boominadhaprakash

[2019-04-07 01:50] pcentieiro commented on #50
Works flawlessly 👌

Thanks a lot man!!

[2019-04-07 08:02] boominadhaprakash commented on #50
Welcome @pcentieiro

[2019-04-07 08:17] nvish-deepakthakur commented on #48
@boominadhaprakash
I  have made some change in nslayoutconstraint & its working fine now according to my requirement .
Thanks @boominadhaprakash for your help & quick response

[2019-04-07 08:17] #48 closed, assigned to ranmyfriend, boominadhaprakash

[2019-04-07 13:39] boominadhaprakash commented on #48
@nvish-deepakthakur Glad to hear about that!!! Welcome :)

[2019-04-11 11:01] ranmyfriend commented on #20
Closing this task. Core functionalities are covered. Good job @boominadhaprakash

Keep it up

Regards,
Ranjith

[2019-04-11 11:01] #20 closed, assigned to ranmyfriend, boominadhaprakash

[2019-04-12 10:00] nvish-bikramsaini opened #54 "Double tap on story just dismissed the IGStoryPreviewController"

[2019-04-12 10:41] #54 closed, assigned to nobody

[2019-04-12 10:42] nvish-bikramsaini commented on #54
This is something in my optimised code

[2019-04-12 11:11] ranmyfriend commented on #54
Okay. if you need any help feel free to raise an issue @nvish-bikramsaini

Thanks,
Ranjith

[2019-04-13 10:25] nvish-bikramsaini opened #55 "Stories stuck when app goes to background and become active."
Steps to reproduce:

View story -> make app go to background or switch to another app -> Come back to your app -> Story is blank and doesn't auto-start.

[2019-04-14 14:04] boominadhaprakash commented on #55
Hi @nvish-bikramsaini

We will check it and let you know once we fixed that issue

[2019-04-15 07:38] boominadhaprakash commented on #55
Hi @nvish-bikramsaini

Good day!!.

Thanks for posting that issue. We have fixed the issue what you have mentioned. Please pull the changes from master branch or download the source from master branch and check it.

If you still face any issues, let us know.

[2019-04-15 07:38] #55 closed, assigned to ranmyfriend, boominadhaprakash

[2019-04-15 13:32] deepak832 opened #57 "We cannot move to previous story by swiping left"
**Describe the bug**
When we start Story from 2nd Story or any story after 1st from top story list then we can't go to previous Story when do Swipe left

Swipe left story is only working when we go to next by Swipe right and come back by swiping left.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Top Stories'
2. Click on '2nd Story'
3. Scroll down to 'Swipe left to go to previous st

[2019-04-15 15:10] boominadhaprakash commented on #57
Hi @deepak832
Thanks for raising the issue. Give us sometime.
We will work on it and let you know once we fixed that.

[2019-04-16 07:30] boominadhaprakash commented on #57
Hi @deepak832

We have fixed that issue. Please checkout this branch **issues/57** or download the source from this branch and check it out.

If you still face that issue, please let us know.

[2019-04-16 09:51] deepak832 commented on #57
Hi Boominandha,

Thanks for the quick fix, it's working fine. This is a great code in swift, looks very nice to me.

I am trying to add different player instead of AVPlayer, can you pleas assist where/what I should change so it work without much effort.

[2019-04-16 10:03] boominadhaprakash commented on #57
Hi @deepak832
Thanks for your nice words.
For player stuff, inside Source folder, you can find IGPlayerView.swift file. If you modify that code, you can implement your own player.

[2019-04-16 15:37] deepak832 commented on #57
Sure will try that.

Thanks for the help and quick fix.

[2019-04-16 15:37] #57 closed, assigned to ranmyfriend, boominadhaprakash

[2019-04-29 14:11] pushkardeshmukh1992 commented on #9
Any reason for not using native progress bar?

[2019-04-30 03:43] ranmyfriend commented on #9
Hi @pushkardeshmukh1992
Actually first we tried using UIProgressBar only. But to control the progress bar is not easy and also faced a lot of challenges in Start, Resume, Stop, Reset operations.  That's why I referred someone on Github how we can achieve the UI progress bar functionality using UIView. Please have look at this specific repo for this functionality.
https://github.com/ranmyfriend/Ins

[2019-05-02 11:19] anonym2 opened #61 "Can you do the same in Java for Android studio"
I searched everywhere and look like android programmer cant do a good job as you

[2019-05-03 06:07] pushkardeshmukh1992 commented on #9
Hey @ranmyfriend
I have built similar story playing feature by referring to this https://medium.com/@anitaa_1990/create-a-horizontal-paging-uiscrollview-with-uipagecontrol-swift-4-xcode-9-a3dddc845e92

If you check the implementation, Slides(UIViews) are created based on the number of stories!
So if there are 200 stories, then there are 200 UIViews created. And each Slide/Story will have 'x' posts

[2019-05-03 06:12] ranmyfriend commented on #61
Hi @anonym2
Thanks for your kind words :)
Actually, we are happy to help if you are going to start the same thing in Android. We are basically iOS Developers but don't have much knowledge in Android Studio as well as Java. But if you are interested we can add you to our organization. What do you say?

If you know the Kotlin. and interested in replicating this repository in Android. We love to expl

[2019-05-03 16:23] ranmyfriend commented on #9
Hi @pushkardeshmukh1992
Actually, the way you have written the Medium article which can be affordable for onboarding screen. It's good to have minimalistic screens with scroll view. But the best solution is to go with CollectionView. If you are going with Collection view, You will get Reusable benefit and handles by Apple. In our case, we are getting benefited by this reusable functionality which

[2019-05-06 14:07] pushkardeshmukh1992 commented on #9
Sorry to disappoint you but that's not my article :)
I referred to that article when I wanted to build story playing feature like Instagram. But now with that approach, I am facing issues which I have mentioned earlier.

I really appreciate your replies :)

Thanks!

[2019-05-07 04:29] ranmyfriend commented on #9
Cool :)

Take care

[2019-05-08 12:53] Arun30sep opened #63 "functionality to pause or play the current story"
I would like to request the feature to pause and play again from the point where it is paused in the stories section i.e. IGStoryPreviewController

Currently I'm not able to select pause the story when preforming specific actions like share. If it is already in the library. Please let me know what I can use.

[2019-05-08 14:07] boominadhaprakash commented on #63
Hi @Arun30sep

In IGStoryPreviewCell, you can find the longPressGesture code. You can use the same code for pause and play again. I think that code will be apt for your requirement.

[code]
You can find the above same code in IGStoryPreviewCell. Please use the same for your requirement. Let us know, if it's not works properly or you struggle to add that code for your requirement.

[2019-05-13 10:30] #63 closed, assigned to ranmyfriend, boominadhaprakash

[2019-05-13 10:34] boominadhaprakash commented on #61
Hi @anonym2

Please refer the below links. I am not sure whether the below repo code has complete functionality. But someone already created repo for Instagram Stories for Android Java.
1. [https://github.com/shts/StoriesProgressView](https://github.com/shts/StoriesProgressView)
2. [https://github.com/RahulJanagouda/StatusStories](https://github.com/RahulJanagouda/StatusStories)

[2019-05-13 10:34] #61 closed, assigned to nobody

[2019-05-13 11:20] anonym2 commented on #61
The links you gave me are bad qualities I have already tried them

[2019-05-13 13:26] boominadhaprakash commented on #61
oh!!!

[2019-05-15 01:50] pcentieiro opened #64 "iPad Rotation"
Hello!

I'm using the library for an Universal app with stories, and while on the iPhone I have the orientation locked to portrait, on iPad I support all orientations (since I want to support the multitasking iPad features). This means that it's necessary to support the stories both on landscape and portrait (the library already does this fine while loading the view controller, but it lacks proper

[2019-05-15 02:33] boominadhaprakash commented on #64
Hi @pcentieiro

Actually, we have created and tested this library only on iPhone not in iPad. We will check your issues. Thanks for raising it.
It will help us more if you provide screenshots.

Regards,
Boominadha Prakash

[2019-05-15 06:13] boominadhaprakash commented on #64
Hi @pcentieiro

We got the issue and we are working on it. Give us some time. Let you know once we fixed that.

[2019-05-15 10:22] pcentieiro commented on #64
Hi @boominadhaprakash !

Thanks for the help! Much appreciated. I've attached some screenshots with this issue.

Open on portrait: OK!
![Simulator Screen Shot - iPad Pro (11-inch) - 2019-05-15 at 11 21 28](https://user-images.githubusercontent.com/1585409/57768497-aa765600-7703-11e9-8cd0-8bf216717519.png)

Open on landscape: OK!
![Simulator Screen Shot - iPad Pro (11-inch) - 2019-05-15 at 11 20 41

[2019-05-15 11:07] boominadhaprakash commented on #64
@pcentieiro

Thanks for sharing the screenshots. Will let you know, once we fixed. Thanks for your patience.

Regards,
Boominadha Prakash

[2019-05-16 05:57] arpitjain03 opened #65 "Feature to add story with simple add text with different colors."
Hi guys,

I am highly impressed by your work for story views exact similar to Instagram.
I am looking for some workaround on creating add story feature.
Just want to know like if you guys are working on the same as in your demo you have mentioned as "Coming Soon".
If yes then when can I expect it on your repository?

Thanks in advance !!!

[2019-05-16 07:03] ranmyfriend commented on #65
Hi @arpitjain03

Sounds great :)

Sorry for the Confusion, Add Story and Story feed is up to your own implementation. we forgot to change **Coming Soon**

**Note:** Add Story functionality can differ based on the client Requirement.

Thanks
Ranjith

[2019-05-16 13:59] #65 closed, assigned to ranmyfriend, boominadhaprakash

[2019-05-21 13:22] pushkardeshmukh1992 commented on #9
Hey @ranmyfriend, is there any way we can split the video buffers?
Like for example if there's total 60 seconds video loading from network.. I would want to load first 15 seconds and show loading indicator till 15 seconds are fetched.
If we reach to 16th second, then it should request for next 15 seconds chunk..
This way we don't wait for entire video to be loaded and play!

How can this be achiev

[2019-05-22 05:46] boominadhaprakash commented on #64
Hi @pcentieiro

We hope that we have fixed the landscape orientation issues. Please checkout or download code from "issues/64" branch.

Let us know if its work fine or not. Side by side, we will also do the testing.

[2019-05-22 23:43] pcentieiro commented on #64
Thanks man!

Looking into it right now. Need to accomodate to the changes that I already did.

Will come back in the next couple of hours.

[2019-05-23 03:55] ranmyfriend commented on #9
Hi @pushkardeshmukh1992
I like your Question. Yeah, it is possible. We are also using **AVPlayer** Framework only.
It is Achievable!!!
like showing indicator when the buffer is empty. Like Player is waiting for some data, then hide indicator, once it gets arrived. Will do this later. Now we already busy with some tasks. Let us complete it as soon as possible. then we will do this task too. and let

[2019-05-23 06:01] pushkardeshmukh1992 commented on #9
Good to know you are considering this :)
Could you point me to some article/doc/API from where this can be achieved?

[2019-05-23 06:11] ranmyfriend commented on #9
@pushkardeshmukh1992
I think you have to add this key in your observer on AVPlayer.

[code]

and this can give you this callback when a player is looking for data as well as once it gets arrived,

[code]

I just pasted the above code from this link only. Please refer it here
(https://stackoverflow.com/questions/5401437/knowing-when-avplayer-object-is-ready-to-play)

and if you are still facing any

[2019-05-23 06:16] pushkardeshmukh1992 commented on #9
I had seen this article :D . Wanted to know your approach :)
Will play around this..
Thanks Ranjith!

[2019-05-23 06:19] ranmyfriend commented on #9
Even I also use the same approach. Thanks for confirming 👍

Take care and Happy Coding

[2019-05-23 21:09] pcentieiro commented on #64
Hi @boominadhaprakash

Just finished accommodate my logic into what you did, and whoa... it works so smoothly!!! Fantastic job!!!! 😲

I wish I could show you, but we can't release the app yet :) Once it is on the App Store, I'll show you.

This is by far the best support that I got from a iOS library! 🙌

[2019-05-24 06:21] boominadhaprakash commented on #64
Hi @pcentieiro
Glad to hear that it worked fine without any issues 👍
Waiting to see your app in App Store. :)

[2019-05-24 06:21] #64 closed, assigned to ranmyfriend, boominadhaprakash

[2019-06-19 05:54] Goldy-74 opened #67 "Delete a story snap"
Thanks for this awesome library.

Can you please add functionality for deleting a snap at runtime.

Not able to delete a snap in the current code.

Thanks in Advance.

[2019-06-19 07:33] ranmyfriend commented on #67
Hey @Goldy-74

Thanks for your support :)

This snap delete functionality we cannot implement. **Because we are leaving it for you.** Based on where you are storing your snaps as well as the story. You can able to implement easily. Like, do a service call for deleting the snap with snap Id. and then once it gets successful, remove that deleted snap from the **IGStories** Model and reload the respe

[2019-06-19 07:36] Goldy-74 commented on #67
Hi, @ranmyfriend,

Thanks for the reply.

Actually, I'm stuck how to manage the respective indexing of the snaps and stories how to go to next snap and story after deleting snaps depend on snap count.

[2019-06-19 08:59] boominadhaprakash commented on #67
Hi @Goldy-74

You are storing the snaps in IGSnap model right. When you delete it in remote server, delete the snap from IGStory model. IGStory model having array of IGSnaps. After deleting you might have to reload the collectionView.

If you still having any doubts, you can clearly explain your scenario step by step. So that we can help you.

[2019-06-19 12:40] Goldy-74 commented on #67
Hi please look into the following code
it is working though but not playing video

Edit: - Done working I have to just reload the collection in async. Might be helpful for someone.

Again thanks for the library. :)

                var story   = self.viewModel?.stories
                var stories = story?.stories

                let currentStory   =   stories?[self.handPickedStoryIndex]

[2019-07-15 15:16] yunustek opened #68 "Video Cache support"
**Is your feature request related to a problem? Please describe.**
Videos redownload from service when we reopen story.

**Describe the solution you'd like**
It's got to be a video cache.

[2019-07-16 06:54] ranmyfriend commented on #68
Hey @yunustek

Actually, we are started working on this video cache feature. Give us some time. Once we have implemented then we will let you know.

Best
Ranjith

[2019-07-16 07:22] yunustek commented on #68
Wow this is awesome!
Thanks :)

[2019-07-27 10:51] coder4x opened #70 "progress bar not works in iOS 11.0.1"
**Describe the bug**
progress bar not works in iOS 11.0.1

**To Reproduce**
run project in iOS simulator 11.0.1

**Expected behavior**
progress bar should start loading and increasing

**Desktop (please complete the following information):**
 - OS: iOS 11.0.1

[2019-07-28 06:28] coder4x commented on #70
found it
just add this line to IGStoryPreviewHeaderView, line 229:

`                pv.topAnchor.constraint(equalTo: pvIndicator.topAnchor),
`

[2019-07-28 06:41] ranmyfriend commented on #68
@yunustek

We have implemented and pushed into this branch **Boomi/VideoCache**. Can you please checkout from this branch and let me know whether we full fill your requirement. Let me know if you are satisfied with this fix. Then we can merge into the master branch.

Best
Ranjith

[2019-07-28 07:43] coder4x opened #71 "Images or videos not load in iOS 10"
**Describe the bug**
when i run in on a iOS 10 simulator it doesn't load or show the stories (images or videos)
maybe it's because of auto layout,

**To Reproduce**
run app in iOS 10

**Expected behavior**
it should work!

**Desktop
 - OS: iOS 10

[2019-07-29 04:29] ranmyfriend commented on #71
@coder4x thanks for an opening issue. we will have look and let you know

[2019-07-30 05:48] boominadhaprakash commented on #70
@coder4x Thanks for created the issue and your solution works. I have modified the code as per your changes and the code is available in this branch "issues/70". Soon we will merge with master.

[2019-07-30 05:48] #70 closed, assigned to ranmyfriend, boominadhaprakash

[2019-07-30 05:57] boominadhaprakash commented on #68
Hi @yunustek

Have you checked? We are awaiting for your comments

[2019-07-30 08:38] yunustek commented on #68
Sorry for late response.
Thank you for this feature. I checkout your commits. As I understand it, when video played with successful, you will store to cache folder. If you find this video in cache folder, you load from there.
We're using ExoPlayer in Android project. This library provide to real time caching. For example, video length is 10 second and user watch only 3 second. If user want to repl

[2019-07-30 11:10] boominadhaprakash commented on #71
Hi @coder4x

We have fixed the issue. Please checkout the code from the branch "issues/71".

Let us know, if you faced any issues.

[2019-07-30 11:18] boominadhaprakash commented on #68
@yunustek

This needs some R&D work. Sure we will try that. Let us share our feedback like its doable or not in two to three days.

Thanks,
Boominadha Prakash

[2019-07-30 11:23] coder4x commented on #71
I just tested it and now it works perfectly and loads images/videos
Thank you 🌹

[2019-07-30 11:31] boominadhaprakash commented on #71
Glad to hear :)

[2019-07-30 11:31] #71 closed, assigned to ranmyfriend, boominadhaprakash

[2019-07-30 11:49] yunustek commented on #68
Okay I am waiting. Thank you :)

[2019-08-04 09:12] VenkateshAnnedi opened #74 "is this demo project available through storyboard ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-08-04 15:13] boominadhaprakash commented on #74
Can you please explain your requirements? So that we can guide you.

[2019-08-06 11:03] boominadhaprakash commented on #74
Hi @VenkatReddyAnnadi,

We are awaiting for your reply.

Regards,
Boominadha Prakash

[2019-08-07 05:23] ranmyfriend commented on #68
Hi @yunustek
We found some helper(https://github.com/neekeetab/CachingPlayerItem) to do this feature. We are trying the new implementation in small POC and let you know once it worked as we expected.

Thanks,
Ranjith

[2019-08-09 07:38] boominadhaprakash commented on #74
Due to inactivity, I am closing this issue. Please reopen if you want in the future.

Thanks,
Boominadha Prakash

[2019-08-09 07:38] #74 closed, assigned to ranmyfriend, boominadhaprakash

[2019-09-25 01:02] samma835 opened #76 "Is this support with cocoapods installation?"

[2019-09-25 01:28] #76 closed, assigned to nobody

[2019-09-25 01:29] samma835 opened #77 "Any example here?"
It's a really awesome project. But I don't know where to start after paste the sources to my project.

So is there an example to show how to start to code with this lib?

[2019-09-25 01:32] samma835 commented on #77
find some clues here.

[#37](https://github.com/drawRect/Instagram_Stories/issues/37)

[2019-09-25 05:37] boominadhaprakash commented on #77
Hi @bullda

Whatever code available in Github repository itself is example project. You can find the sample code under Modules folder.

If you find any difficulties to understand that, let us know. We will revamp the folder structure.

Regards,
Boominadha Prakash

[2019-09-28 02:43] samma835 commented on #77
Thank you! It works now. Nice job.

[2019-09-28 02:43] #77 closed, assigned to nobody

[2019-10-21 18:58] legend1923 opened #78 "How to display any stories"
Hi, I want to open fifth  snap . I think first snap default .
1-  A User adds 5 snaps.
2- B user see 4 snaps
3- B user click and see fifth snaps
-----------------------------------------
I tried change this class -> IGStoryPreviewController.swift
`            cell.willDisplayCellForZerothIndex(with: cell.story?.lastPlayedSnapIndex ?? 0)
` -> `cell.willDisplayCellForZerothIndex(with: 4)`
But its no

[2019-10-23 11:41] ranmyfriend commented on #78
Hi @legend1923

Sorry for the late reply.
I will check and update you soon.

Thanks
Ranjith

[2019-10-24 08:10] boominadhaprakash commented on #78
Hi @legend1923

I think only changing willDisplayCellForZerothIndex is not sufficient. You have to change willDisplayCell also.

willDisplayCellForZerothIndex only for first story. If you want to change other stories snapindex means, you have to change willDiplayCell index value also in IGStoryPreviewController.

Also, we need to check when you directly gave value greater than zero, by that time s

[2019-10-24 10:12] forTJ555 opened #79 "Images are stretched"
![Simulator Screen Shot - iPhone Xʀ - 2019-10-24 at 15 39 24](https://user-images.githubusercontent.com/42463540/67476042-e4656400-f674-11e9-8150-329b0223e57a.png)
**Describe the bug**
when we upload images and show it from url using api's it looks stretched how we can fix this?

[2019-10-29 06:16] boominadhaprakash commented on #79
Hi,

Images stretched means change image view content property mode to aspect fit.

Regards,
Boominadha Prakash

[2019-10-29 06:47] forTJ555 commented on #79
but from where do i get image property from stories view

[2019-10-30 04:59] ranmyfriend commented on #79
Hi @forTJ555
Kindly look at **IGStoryPreviewCell** and line number: 172. There is a method called createSnapView(). Here you can get the respective individual image view. Try to change the AspectFit for this image view and let us know

Thanks,
Ranjith

[2019-11-06 04:31] forTJ555 commented on #79
yes it works perfectly now, thanks for your help @ranmyfriend

[2019-11-07 10:58] forTJ555 commented on #79
is there any way to make background white? i was set background color of image to black but it did not work @ranmyfriend

[2019-11-07 11:41] ranmyfriend commented on #79
@forTJ555  See the image is there in scrollView and scrollView is there in **IGStoryPreviewCell**. try to change the background colour of the cell. Like cell.contentView and see or try to change it to scroll view background colour.

[2019-11-08 11:51] forTJ555 commented on #79
@ranmyfriend both are not work neither scroll view backround nor cell.content view background color

[2019-11-08 12:50] ranmyfriend commented on #79
Hmm. Actually the image view is completely stretched to scroll view. that's why even if we set a different colour to the content view and scroll view also not reflecting.

[2019-11-11 10:47] forTJ555 commented on #79
is there any other way to make to black?

[2019-11-11 11:22] ranmyfriend commented on #79
@forTJ555
instead of giving the ImageView.height equal to scroll view.height. you just try to give image.size.height but it should not be exceed with scroll view.height. once you apply this logic, then your scroll view area will get visible automatically. then you just set the background colour of scroll view. By then Automatically it will get visible. or try to set the image height in 9:16 Aspect

[2019-11-13 10:18] forTJ555 commented on #79
snapView.heightAnchor.constraint(equalTo: snapView.heightAnchor),

did this and set scroll view background color black. but its not working well

[2019-11-13 18:38] ranmyfriend commented on #79
See you should update the Height Anchor constant with Image size.height. Once you get downloaded requested image, get the size of the image and set it to the Height Anchor of snapView. then it will work.

[2019-11-14 06:35] boominadhaprakash commented on #79
Hi @forTJ555

If you want to set any backgroundColor, apply backgroundColor where we are creating the views. For example if you want to set background color for ScrollView, set background color for ScrollView which we are generating on IGStoryPreviewCell.

Please attach any sample screenshot of how do you want to display the image. So that we can guide you in better way.

Regards,
Boominadha Praka

[2019-11-14 06:41] boominadhaprakash commented on #78
Hi @legend1923

We are awaiting for your reply. If problem still exists please convey your status. We will try to help you. If there is no problem, please close this issue.

Thanks,
Boominadha Prakash

[2019-11-14 15:47] forTJ555 commented on #79
![Simulator Screen Shot - iPhone 6 - 2019-11-14 at 21 16 46](https://user-images.githubusercontent.com/42463540/68872497-2178bf80-0724-11ea-930e-1c20077fab00.png)

background shows white when image set as scaleAspectFit
        snapView.contentMode = .scaleAspectFit

[2019-11-17 09:33] boominadhaprakash commented on #79
@forTJ555 Have you tried to set background color for cell?

[2019-11-20 05:42] fadeev-vitaliy commented on #79
I found solution
Set background color in IGImageRequestable extension after set image
<img width="787" alt="Снимок экрана 2019-11-20 в 10 40 53" src="https://user-images.githubusercontent.com/33855854/69212190-65375300-0b82-11ea-8b01-ea2dd35f508d.png">

I found solution to get average color of image, and set it to background
solution here
https://www.hackingwithswift.com/example-code/media/how-to-

[2019-11-20 06:06] ranmyfriend commented on #79
@fadeev-vitaliy You are awesome :) Thanks.

@forTJ555 can you please try to implement what he mentioned and let us know.

[2019-11-24 08:42] forTJ555 commented on #79
yes it works perfect. Thanks for the great library :)

[2019-11-25 09:18] boominadhaprakash commented on #79
Hi @forTJ555

Glad to hear that your issue has been resolved.

Regards,
Boominadha Prakash

[2019-11-25 09:18] #79 closed, assigned to ranmyfriend, boominadhaprakash

[2019-11-27 13:17] ranmyfriend commented on #78
I am closing it for now. If anything updates come near future. Will open it

[2019-11-27 13:17] #78 closed, assigned to ranmyfriend, boominadhaprakash

[2019-12-20 10:51] federico2390 opened #80 "How can I fix " Use of undeclared type 'layoutType' ""
Inside the IGStoryPreviewView, after that I have paste the source folder, when I built the project, I receive this error: "Use of undeclared type 'layoutType" at line 14 .
How can I fix it?

[2019-12-20 10:52] federico2390 commented on #80
after that on top. Is there a guide about the use? after that I have paste the source folder, how can I call the file?

[2019-12-20 15:50] ranmyfriend commented on #80
Hi @federico2390

The Layout type error you may get which is part of **AnimatedCollectionViewLayout** . Please copy the AnimatedCollectionViewLayout folder under **External** Folder in the Project Folder.

You no need to call anything extra, we have already handled this layout type on **IGStoryPreviewController.swift**

Please let me know if you want anything additional clarification?

[2019-12-20 16:28] federico2390 commented on #80
Ok but how can i show the collectionview of the stories inside one my view

Il giorno 20 dic 2019, alle ore 16:50, ranjit <notifications@github.com> ha scritto:

﻿

Hi @federico2390<https://github.com/federico2390>

The Layout type error you may get which is part of AnimatedCollectionViewLayout . Please copy the AnimatedCollectionViewLayout folder under External Folder in the Project Folder.

You

[2019-12-20 16:39] ranmyfriend commented on #80
Kindly refer **IGHomeController.swift** and **IGHomeView.swift**. In HomeViewController i have added collectionView like wise you also can do this on your view. Thats it!

[2019-12-23 10:07] Franknxtn opened #81 "Failed with error: Cannot Open"
I am receiving  Failed with error: Cannot Open error on while loading video. Images work as expected but video are throwing cannot open error.

[2019-12-23 10:56] ranmyfriend commented on #81
@TheAdrenalineJunkie Sorry for that. Maybe the Video URL's expired I guess. we have to update the URL. Let me check and update you.

[2019-12-26 08:59] ranmyfriend commented on #81
Hi @TheAdrenalineJunkie There was an issue regarding the video URLs and i replaced with **big_buck_bunny.mp4** Kindly take a pull from **master** branch. And let us know if you need anything else!

[2019-12-26 08:59] #81 closed, assigned to nobody

[2019-12-26 09:00] ranmyfriend commented on #80
Hi @federico2390
Am closing it dude to the respective information I have already given, If anything helps required from us. Feel free to open this issue again
Happy Coding :)

[2019-12-26 09:00] #80 closed, assigned to nobody

[2020-01-15 13:40] Ruuuuddyyy opened #82 "I have many warnings"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-01-16 08:55] ranmyfriend commented on #82
Hi @Ruuuuddyyy

I appreciate your efforts on creating this issue. Sorry to say this. Currently, we are not supporting below 10.0. And if you look at our **ReadMe** file we mentioned iOS 10 and Xcode 8 is the base version to have this feature.

[2020-01-16 09:45] Ruuuuddyyy commented on #82
Hi @ranmyfriend , but my project version iOS starts from 11.0 and xcode version 11.3.1

[2020-01-16 09:52] ranmyfriend commented on #82
@Ruuuuddyyy
Okay got it.
Currently, I have Xcode version 11.3. Let me update the version of 11.3.1 and will check and let you know.

[2020-01-16 11:30] ranmyfriend commented on #82
Hi @Ruuuuddyyy

Just now I have updated the Xcode Version and checked it works nicely from my side.

Here is my combination:
**Xcode Version 11.3.1 (11C504)
iOS 13.3 Simulator**

Can you please tell me more details about the bug. So I can help you

[2020-01-17 06:50] Ruuuuddyyy commented on #82
I just drag and drop Source folder into my app and after that I have such a list of errors

[2020-01-17 08:09] ranmyfriend commented on #82
Hi @Ruuuuddyyy
Thanks for the suggestion. Just now I have created a sample project and copy-pasted the source folder got the warnings.

Related to warnings we have to support **iOS13** and regarding the layout error:
 You need this Enum which is located in **IGStoryPreviewController.swift**
[code]

Thanks for your support. We will fix the warnings and will let you know. give us some time

[2020-01-18 05:25] ranmyfriend commented on #82
Hi @Ruuuuddyyy
I have fixed the warnings related to iOS 13.0 and also **LayoutType** enum error also you won't get. Because I moved this enum into **Source** folder. Let me know if you face any issues.

[2020-01-18 05:25] #82 closed, assigned to ranmyfriend, boominadhaprakash

[2020-02-17 12:20] codobuxsocial opened #83 "Documentation on how to display stories from API"
I was trying to implement this awesome library :) but I could not seem to understand how to fetch stories from API. I know there is a function loadAPIResponse but I am not understanding on how to use it. It would be great if you provided an example of both offline and online data.

[2020-02-18 09:47] ranmyfriend commented on #83
Hi @codobuxsocial
Thanks for using it.
Actually the **loadAPIResponse** here you have to make the call for your own backend.

Refer the **stories.json** file, then you will get to know some basic idea. See for us, we dont have any backend. Simply we went with JSON, and load the JSON and handle it.

Let us know if you need anything else. or further information.

[2020-02-24 12:54] UtkuDalmaz opened #84 "Ambiguous use of 'widthConstraint'"
I am having Ambiguous use of 'widthConstraint' error

<img width="288" alt="Screen Shot 2020-02-24 at 15 48 01" src="https://user-images.githubusercontent.com/2130592/75154047-dd7f5880-571d-11ea-9d71-90bd1ad60de3.png">

[2020-02-24 14:17] UtkuDalmaz opened #85 "Using Alamofire response as JSON data"
Hi there

[code]

How can I use this response within loadAPIResponse function?

Can you please help me on this?

[2020-02-24 17:51] boominadhaprakash commented on #85
Hi @UtkuDalmaz

Thanks for using this library and we are appreciating your question.

My first question is, the JSON what you are getting is same as our stories.json template?

It's easy for you load the JSON from **Alamofire** response. **Open Modules -> Home -> IGHomeViewModel.swift in our InstagramStories project.**

There we will load stories.json using the below code.
[code]
You can slightly

[2020-02-24 17:57] boominadhaprakash commented on #84
Hi @UtkuDalmaz

We are appreciating you for raising this bug.

We have already closed this iOS 13 related bug.

**Please refer this link:** https://github.com/drawRect/Instagram_Stories/issues/82

If you are still facing this issue apart from that fix, let us know the exact scenario or environment specific. Let us know your Xcode version, Swift version and deployment target.

Regards,
Boominadha P

[2020-02-24 19:13] UtkuDalmaz commented on #85
Thank you

I use this

[code]

created ` var response = [String: Any]()`

I need to get that json part into response var and pass to self.viewModel.getStories
I implemented your json template into our service but I can't parse it, need some help

Here is the sample json return from our service

[code]

[2020-02-24 22:37] UtkuDalmaz commented on #85
Json is same as your stories.json template

I first get Alamofire response and pass it to self.responseData
[code]
Then load stories to collectionview

And I use this when story tapped

[code]
I get **Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** +[NSJSONSerialization dataWithJSONObject:options:error:]: Invalid top-level type in JSON write'** error when tappe

[2020-02-25 10:42] UtkuDalmaz commented on #85
I also tried this

[code]

I get **Cannot convert value of type 'Data' to expected argument type '[String : Any]'**

[2020-02-25 11:55] UtkuDalmaz commented on #85
Here is the JSON from the service, maybe it is incorrect ?

[code]

[2020-02-25 16:15] ranmyfriend commented on #85
Hi @UtkuDalmaz
There is a mistake in your JSON. currently, we kept **last_updated** as Integer.  **NOT A STRING.**
Rest of the things are cool.
Let me know if you need any help.

[2020-02-25 16:19] UtkuDalmaz commented on #85
Yeah I just realized it and corrected but I still have problem

Let me explain

[code]

I get responseString (json) and convert it to Data and assing to self.responseData

Then check this part

[code]
Here the problem
` let stories = try JSONDecoder().decode(IGStories.self, from: self.responseData)`
This line doesn't work and I don't know why

Have an Idea?

[2020-02-25 16:20] ranmyfriend commented on #85
@UtkuDalmaz
Dont worry. can you please paste me the entire response here. let me apply it from my end and will solve it as soon as possible

[2020-02-25 16:21] UtkuDalmaz commented on #85
[{"stories":[{"id":"s1","last_updated":1582627402,"user":{"id":"2","name":"yunuskasarci","picture":"https:\/\/jemiyet.com\/ios\/images\/profile_pic\/116534.jpg"},"snaps_count":1,"snaps":[{"id":"c1","mime_type":"image","url":"https:\/\/jemiyet.com\/ios\/stories\/image\/3434.jpg","last_updated":"1582627402"}]}],"count":1}]

[2020-02-25 16:23] ranmyfriend commented on #85
Please wait. I will check and update you soon.

[2020-02-25 16:42] UtkuDalmaz commented on #85
I was able to run it now finally (I removed the [ and ] brackets from json). Story view controller appeared but this time I get these

IGStoryPreviewHeaderView.swift
I got 2 errors

Line 59
button.setImage(#imageLiteral(resourceName: "ic_close"), for: .normal)
Error: Thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)

Line 229
pv.widthConstraint!
Thread 1: Fatal error: Unexpectedly f

[2020-02-25 16:43] ranmyfriend commented on #85
I got your problem. @UtkuDalmaz

Your response is an Array of a dictionary. But we kept simple dictionary. So instead of passing ```[[:]]``` like this. you can simply pass [:] **Dictionary** It will work. or else, you pass the first object of your received array. That's it. it will work.

Let me know if you need anything else

[2020-02-25 16:48] UtkuDalmaz commented on #85
I also have this problem

IGSnapProgressView.swift

<img width="971" alt="Screen Shot 2020-02-25 at 19 47 12" src="https://user-images.githubusercontent.com/2130592/75267741-ad13e900-5807-11ea-99a4-22378a5c4f46.png">

[2020-02-25 16:48] ranmyfriend commented on #85
Hi @UtkuDalmaz

1)`ic_close` image we have added in **Assets.xcassets**  could you please confirm this once you from your end?
2)pv.widthConstraint error. can you please let us know use case?

[2020-02-25 16:51] ranmyfriend commented on #85
@UtkuDalmaz
I guess **WidthConstraint** is getting disturbance with Apple new property width_constraint. Let me check and update you soon. can you please tell me which Xcode version you are using?

[2020-02-25 16:51] UtkuDalmaz commented on #85
1- Fixed Thanks
2- What do you mean?

I use 11.3.1 xcode

[2020-02-25 16:59] ranmyfriend commented on #85
Are you using **Swift 5** Can you please confirm? @UtkuDalmaz

[2020-02-25 16:59] UtkuDalmaz commented on #85
Yes Swift 5

[2020-02-25 17:02] ranmyfriend commented on #85
for me, it's working fine. I dont know why it's not working for you.
Even am also using Swift 5 and same Xcode version. it's building nicely here.

[2020-02-25 17:14] UtkuDalmaz commented on #85
What may cause it?
It works good in your sample project but it gives error in my project
Can I just change  **public var widthConstraint: NSLayoutConstraint?** variable name to sth different?

[2020-02-25 17:23] UtkuDalmaz commented on #85
I now realized that it confuses with 2 variable names of 2 pod libraries

[2020-02-25 17:33] ranmyfriend commented on #85
Oh is it. Do whatever changes you want. We want you to feel free to use this library :)

[2020-02-25 18:20] UtkuDalmaz commented on #85
Thanks I fixed everything now.

[2020-02-25 18:20] #85 closed, assigned to ranmyfriend, boominadhaprakash

[2020-02-25 18:21] #84 closed, assigned to ranmyfriend, boominadhaprakash

[2020-02-25 18:26] UtkuDalmaz commented on #67
@Goldy-74  Where did you put a delete button?
I also want to implement a delete mechanism, can you help me with it?

[2020-02-27 15:28] ranmyfriend commented on #67
Hi @UtkuDalmaz  Why don't you try this?
<img width="385" alt="Screenshot 2020-02-27 at 5 05 01 PM" src="https://user-images.githubusercontent.com/9623406/75458385-bf2a8e80-59a3-11ea-89a2-f1b3818abfe5.png">

[2020-02-28 10:17] promaticsArun commented on #83
I am trying to implement in ios swift but i stuck in model i am unable to understand how to implement this thorugh my Model and  also give me suggestion which model class or viewModel  class are modified accodring to me with help of API.

[2020-02-28 10:23] ranmyfriend commented on #83
Hi @promaticsArun
Thanks for using it.

First, go through our **stories.json** you will automatically come to know. And when you are getting a response from the server. please match with our stories.json -> **BASED ON THIS JSON RESPONSE ONLY** - we have implemented this library.

_If you want to explore the Models => Source Folder -> Models -> Here you can find models_

Let me know if you need any

[2020-03-01 21:14] UtkuDalmaz commented on #67
@ranmyfriend Ok so how can I give a bottom margin and create a view with button and place that view to that margin area just like your header view part?

[2020-03-02 09:10] codobuxsocial commented on #83
I figured this out, for anyone trying to do this, @promaticsArun

1. Declare a variable e:g var arrStory : IGStories?
2. After getting response from your stories API

You need to ask your backend to create the same model as the one in stories.json file. If everything is okay you now have stories object and next you can use it to return numberOfItems, cellForItem and in didSelect.

Once again I am

[2020-03-02 10:09] promaticsArun commented on #83
{
    "code": 200,
    "stories": {
        "count": 29,
        "rows": [
            {
                "id": 1,
                "user_id": "1",
                "story_media": [
                    {
                        "id": 1,
                        "story_id": "1",
                        "file": "https://viip.s3.amazonaws.com/public/img/StoryMedia/1581750774064check.png",

[2020-03-02 13:32] boominadhaprakash commented on #83
Hi @promaticsArun,

Have you worked with models on your projects? Is that our stories.json and the response what you are getting is same in structure?. Please first refer our stories.json and our models. Compare the key values. If it has different keys on your json, then modify the keys based on that.

IGStories => It is the root model.
IGStory => Which represents single story and it has the singl

[2020-03-03 11:39] promaticsArun commented on #83
{
    "code": 200,
    "stories": {
        "count": 20,
        "rows": [
            {
                "id": 11,
                "user_id": "7",
                "last_updated": "2020-03-03T10:27:02.000Z",
                "story_media": [
                    {
                        "id": 40,
                        "story_id": "11",
                        "file": "
https://viip.s3.us-east-2.am

[2020-03-05 10:24] UtkuDalmaz opened #86 "Snap ImageView background color"
I changed snap imageview's content mode from here

[code]
<img width="299" alt="Screen Shot 2020-03-05 at 13 23 01" src="https://user-images.githubusercontent.com/2130592/75972511-972bb580-5ee4-11ea-8c7d-4c0471c50003.png">

My problem is that When I use a photo that doesn't fit the screen, Aspect fit shows it with blank spaces.  Those space color is white, I want to change it to black. So I change

[2020-03-07 06:21] boominadhaprakash commented on #86
Hi @UtkuDalmaz

Please check the below link, this issue has been already addressed. Let us know, if the below link not solved your problem.

https://github.com/drawRect/Instagram_Stories/issues/79#issuecomment-555847819

Regards,
Boominadha Prakash

[2020-03-07 11:27] #86 closed, assigned to ranmyfriend, boominadhaprakash

[2020-03-07 14:44] UtkuDalmaz opened #87 "A request to the server When snap viewed"
I want to send a request to the server (seen request) when each snap viewed.

Where can I implement that request in the code? Can you help me?

[2020-03-08 09:57] boominadhaprakash commented on #87
Hi @UtkuDalmaz

You can implement server related code in **didCompleteProgress** method when snap moves automatically. Suppose user tap before snap progress completes, you can implement the server code in **didTapSnap/willMoveToPreviousOrNextSnap** method. You can find these methods in **IGStoryPreviewCell** class.

Regards,
Boominadha Prakash

[2020-03-09 12:17] UtkuDalmaz commented on #87
@boominadhaprakash thank you.

[2020-03-09 12:44] #87 closed, assigned to ranmyfriend, boominadhaprakash

[2020-03-10 14:04] boominadhaprakash commented on #87
@UtkuDalmaz Welcome.

[2020-03-17 10:19] codobuxsocial opened #88 "Optional swipe up for more action"
I needed to replicate the feature of how Instagram gives an option to swipe up to open a link only for specific stories. Is it possible at all to display an arrow with up direction also?

[2020-03-17 12:42] UtkuDalmaz opened #89 "progressbar disappears when pre-animate it (bug)"
When I pre-animate (start animation but don't complete it) the snaps, the progress indicator disappears unexpectedly

Please check the video

https://drive.google.com/open?id=1sjxeNecqFOz-M8tkHzRaMMFW4ETLNiw-

[2020-03-17 15:43] ranmyfriend commented on #89
Hi @UtkuDalmaz
Thanks for your attachment. Please give me sometime,. let me add more videos and play with the issue and will give you the fix

[2020-03-17 15:51] ranmyfriend commented on #88
Hi, @codobuxsocial Could you please elaborate more about your requirement. or Can you add a specific attachment?
**Can you please refer this link:** Here I have added one screenshot which can give more options (Screenshot taken from the Instagram app)
https://github.com/drawRect/Instagram_Stories/issues/67#issuecomment-592021861

[2020-03-17 20:40] UtkuDalmaz commented on #89
@ranmyfriend Ok man thank you.

[2020-03-18 04:46] ranmyfriend commented on #89
Hi @UtkuDalmaz
Just now I have tested **it works** fine from my side.
I have used iOS 13.3.1 real device and also tested with the simulator on the latest
The same scenario(1 video) I have tried it here. Can you please let me know the exact scenario or give me more info about the bug. So we can reproduce it and give you some fix

[2020-03-18 10:47] UtkuDalmaz commented on #89
I realized that it only happens in the simulator.  Sorry for the false alarm.

[2020-03-18 10:49] UtkuDalmaz commented on #89
Can you help me on this, how can I call "resumeEntireSnap()" from IGStoryPreviewController ?
I mean how can I resume snap from IGStoryPreviewController?

[2020-03-18 11:27] ranmyfriend commented on #89
@UtkuDalmaz
**resumeEntireSnap** you can call from StoryPreviewCell based on the IndexPath. So you must have the index path in StoryPreviewController. then try to get the cell using cellForRowAtIndexpath then simply call - cell.resumeEntireSnap()

[2020-03-24 09:57] UtkuDalmaz commented on #89
@ranmyfriend Man sorry but I figured out this bug again. I tested on a real device a lot of time and figured. Follow these steps to reproduce ->

- Tap a story
- Snap will play
- Tap on it and long press for 2-3 seconds
- Swipe left and do like pulling out next snap but turn back to current snap

Check the video
https://drive.google.com/file/d/19LmwE-yg-BNV8t49Kxs-dJX4mHmvN29R/view?usp=drivesdk

[2020-03-30 02:22] sourish opened #91 "Video not getting resume when long Pressed"
**Describe the bug**
When the video gets started playing and if i long press the video it pause's but when i leave it doesn't resume instead it skips to the next user story. could you kindly check this.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'any user story which has video in it'
2. Click on 'Long Press on the Video to pause and leave it'
3. Scroll down to '....'
4. See error

[2020-03-30 07:17] sourish opened #92 "Implementation of Text also to the user stories"
**Is your feature request related to a problem? Please describe.**
Its a great framework you have created, respect for both of you bro. I would like to request to add text Story also to it.

**Describe the solution you'd like**
In the Preview of the Stories adding the text to it.

[2020-04-01 09:45] boominadhaprakash commented on #91
Hi @sourish,

Thanks for raising the issue. Please capture the error and share it as video. So that it will be helpful for us to debug the issue. Because we are unable to reproduce this issue.

Regards,
Boominadha Prakash

[2020-04-03 11:37] sourish commented on #91
[Screen Recording 2020-04-03 at 5.02.54 PM.mov.zip](https://github.com/drawRect/Instagram_Stories/files/4426948/Screen.Recording.2020-04-03.at.5.02.54.PM.mov.zip)
Thank you for the response @boominadhaprakash .
I have attached a zip containing the recorded video. Could you please check.

[2020-04-03 11:58] sourish commented on #67
Hi @Goldy-74 / @ranmyfriend , where should we add the delete functionality code in the code(I mean which class)

[2020-04-03 12:00] ranmyfriend commented on #67
@sourish
You can replicate this functionality on Preview controller, Just refer Instagram App and try to post some sample post from your end. And check you post preview options. you will get know easily

[2020-04-03 12:57] ranmyfriend commented on #91
Hi @sourish
I have checked your video. this is how the behaviour of **Instagram stories** till now dude. We have not implemented when it was paused and resuming.
Already have an issue regarding this.
https://github.com/drawRect/Instagram_Stories/issues/68

[2020-04-03 14:02] sourish commented on #91
Hi @ranmyfriend ,

Thank you for the time. Ok dude.

[2020-04-03 15:19] sourish commented on #67
@ranmyfriend ,

I have tried but, if i am deleting the last snap then it is not going to next user story.
Can you tell me how to fix this.

[2020-04-03 15:29] ranmyfriend commented on #67
@sourish
could you please follow this mechanism https://github.com/drawRect/Instagram_Stories/issues/67#issuecomment-503543416

[2020-04-04 07:45] sourish commented on #67
@ranmyfriend : I have followed it but the issue is if i delete the last snap of the stories it doesn't go to the  next user story, it reloads and show the same story from 1st snap.

[2020-04-04 12:30] ranmyfriend commented on #92
Hi @sourish
This is already we mentioned in the **Toast** like go with your own implementation.
If you have any doubts or something how you want to pitch it up for this specific let us know we can guide you.

[2020-04-04 12:30] #92 closed, assigned to ranmyfriend, boominadhaprakash

[2020-04-04 12:31] #91 closed, assigned to ranmyfriend, boominadhaprakash

[2020-04-04 12:36] ranmyfriend commented on #83
Hi @promaticsArun
We hope you have resolved this query. Due to this, we closing it for now. if anything comes up later, please reach us.

[2020-04-04 12:36] #83 closed, assigned to nobody

[2020-04-04 12:41] ranmyfriend commented on #67
Hi @sourish
Give us some time, we will try to tweak this implementation and let you know

[2020-04-05 14:23] sourish commented on #50
HI @boominadhaprakash / @pcentieiro , Could you please tell me how can i open a particular snap with snapIndex. Could you please brief me about this

[2020-04-07 14:54] sourish commented on #67
Hi @ranmyfriend ,

Do not mind, is there any update for deleting Snap.

[2020-04-07 15:33] ranmyfriend commented on #67
@sourish
give me some time, please. let you know.

[2020-04-10 10:29] boominadhaprakash commented on #88
Hi @codobuxsocial

Have you done this implementation?

[2020-04-10 14:01] vBoykoGit opened #93 "Show stories with specific snap"
I want to start IGStoryPreviewCell from specific start index, myStartIndex for example:
[code]

[2020-04-10 14:04] boominadhaprakash commented on #93
Hi @vBoykoGit

Thanks for raising the issue. I think we have addressed this issue already. Please refer the below link.

https://github.com/drawRect/Instagram_Stories/issues/50

[2020-04-10 14:53] vBoykoGit commented on #93
I have read this issue but still don't understand what property I must set to change start index

[2020-04-11 11:17] boominadhaprakash commented on #93
Hi @vBoykoGit.

Go to IGStoryPreviewController, willDisplayCell method, you can find the below code,

[code]

In that, in the below line instead of cell.story?.lastPlayedSnapIndex in cell.willDisplayCellForZerothIndex(with: cell.story?.lastPlayedSnapIndex ?? 0), you can pass your own index like cell.willDisplayCellForZerothIndex(with: 2) or cell.willDisplayCellForZerothIndex(with: 3) like this.

[

[2020-04-11 11:20] boominadhaprakash commented on #67
Hi @sourish,

We are almost going to finish the delete snap implementation. Will finish it in two to three days. Let you know, once the implementation is over. Thanks for your patience.

[2020-04-11 12:06] Goldy-74 commented on #67
Hello All,

First of all i am really sorry for late replying.

All i have followed my own logic at that time.

First i have created a button in **IGStoryPreviewHeaderView** class

    public lazy var btnDelete : UIButton = {
        let btnDelete = UIButton(type: UIButton.ButtonType.system)
        btnDelete.tintColor = .white
        btnDelete.translatesAutoresizingMaskIntoConstraints = false

[2020-04-12 12:50] sourish commented on #67
Hi @boominadhaprakash,

Thank you for the response. I am very much eagerly waiting for the solution.
I have tried the solution i.e provided by @Goldy-74 , but that didn't work out.
I am not getting the correct "currentStory" and the even the "deletedIndex".
let currentStory = stories?[self.handPickedStoryIndex]
let deletedIndex = currentStorySnaps?.count == 1 ? self.handPickedStoryIndex : nil.

I

[2020-04-12 12:58] boominadhaprakash commented on #67
Hi @sourish

We have finished that delete snap functionality. Please take the source code from **"Boomi/snapdelete"** branch. Delete snap functionality only available for **current user story.**

The delete snap code is available in IGStoryPreviewCell. Please check the documentation. We are not removing the snaps from IGStory. We are handling with **isDeleted** flag and we are storing the snap id

[2020-04-12 20:26] UtkuDalmaz commented on #89
@ranmyfriend could you check it?

[2020-04-13 09:06] vBoykoGit commented on #93
Thanks for your answer. I have changed willDisplay method as following:
[code]

And now I'm getting this bug:
<img width="435" alt="Снимок экрана 2020-04-13 в 11 56 33" src="https://user-images.githubusercontent.com/13284583/79108461-0ff11d80-7d7f-11ea-9bf9-6cd994809cb2.png">

[2020-04-13 09:58] boominadhaprakash commented on #89
Hi @UtkuDalmaz

Thanks for raising the issue and your patience. We have fixed the issue and take the source code from the branch: **Boomi/issue89**

Let us know, if your issue got resolved or not from that branch code.

[2020-04-13 10:04] boominadhaprakash commented on #93
Hi @vBoykoGit

Can you please tell us, on what scenario you want to open like this?

[2020-04-13 10:10] boominadhaprakash commented on #88
Hi @codobuxsocial

We have added the swipe up action for my story. You can refer the code from this branch **Boomi/snapdelete** and refer https://github.com/drawRect/Instagram_Stories/issues/67 this issue for more details.

[2020-04-13 10:42] vBoykoGit commented on #93
I want to open each story separately like following:

<img width="404" alt="Снимок экрана 2020-04-13 в 13 35 46" src="https://user-images.githubusercontent.com/13284583/79114400-decb1a00-7d8b-11ea-9003-c240eb8531da.png">

So, when I press on the story `IGStoryPreviewController` should show it.

[2020-04-15 08:59] boominadhaprakash commented on #93
Hi @vBoykoGit

If you are opening each story separately, once that story over, should it move to next story or it should dismiss?

[2020-04-16 14:05] UtkuDalmaz commented on #89
Unfortunately, it still stops after swipe animation check the video @boominadhaprakash

https://drive.google.com/file/d/1PZYdylMcLw8pxjuIgFY6qxk8rF8d8ghf/view?usp=drivesdk

[2020-04-16 17:54] boominadhaprakash commented on #89
Hi @UtkuDalmaz

I have seen you demo video. We are able to reproduce this issue. We will fix this issue at earliest. Thank you.

[2020-04-16 18:08] boominadhaprakash commented on #89
Hi @UtkuDalmaz

I guess, I have fixed this issue and pushed the changes to Boomi/issue89. I have done some basic testing. It is working fine. I will do thorough testing tomorrow. Mean while you also take the changes and please do testing from your side.

I have done changes in IGStoryPreviewCell and IGStoryPreviewController. Please refer the changes and modify your code according to our changes. *

[2020-04-17 14:14] UtkuDalmaz commented on #89
Thanks, it seems fixed now

[2020-04-19 08:46] UtkuDalmaz commented on #89
I realized that now progress doesn’t resume after long press

[2020-04-19 09:32] boominadhaprakash commented on #89
Hi @UtkuDalmaz

Sorry for missed that scenario. We have fixed that issue now and pushed the changes to **Boomi/issue89**. Please take the latest changes of IGStoryPreviewCell and IGStoryPreviewController from **Boomi/issue89** branch.

We have tested the below three scenarios in the latest update.

1. Do Long Press and release, snap progressor should resume.
2. Do Long press, swipe to next story,

[2020-04-19 17:36] onurkun opened #94 "progressbar duplicate issue"
**Describe the bug**
When I quickly switch between stories, old stories continue in the progressbar

**Screenshots**
[https://imgur.com/qEG8jqw](https://imgur.com/qEG8jqw)
.

[2020-04-19 18:40] boominadhaprakash commented on #94
Hi @onurkun

Thanks for raising this issue. Please try the updated source code, related to progressor bar issue from **Boomi/issue89** branch.

Let us know, if that source code fixed your issue or not.

[2020-04-19 18:42] boominadhaprakash commented on #67
Hi @sourish

Do you have any update for us?

[2020-04-19 20:13] onurkun commented on #94
Not fixed my issue.

As a result of the reviews; when the video is switched to another story without being fully loaded, the previous video doesn't stop loading and starts working when the previous video is loaded.

[2020-04-20 11:57] boominadhaprakash commented on #94
Hi @onurkun

It will be helpful for us, If you record your issue as a video and share it with us. Please confirm that are you using latest source code from master branch?

[2020-04-20 12:40] onurkun commented on #94
Yes. I am using latest sources and I tried Boomi/issue89 branch, it didn't work.
[https://drive.google.com/file/d/145l4kAdsR_HHh7u1ikzvKZTOs0dxU8e8/view?usp=sharing](https://drive.google.com/file/d/145l4kAdsR_HHh7u1ikzvKZTOs0dxU8e8/view?usp=sharing)

[2020-04-20 12:46] boominadhaprakash commented on #94
Thank you. Will check and let you know @onurkun

[2020-04-20 13:55] onurkun commented on #94
Thanks good work, I am waiting for your information.

[2020-04-20 16:09] vBoykoGit commented on #93
It should move to the next story

[2020-04-20 17:17] UtkuDalmaz commented on #89
Ok, this one looks fixed. Now there is another issue. When I long press 2. time it doesn't resume, it goes back or forward. I can long-press and pause it only once. It should pause anytime I long-press just like instagram

[2020-04-21 08:01] LoopingLouieX opened #95 "Firebase Implementation"
Seems like a good project but as it's not compatible with Firebase I am unable to use it.
Implemented the same structure in the backend but with Firebase you will get the following data back.
After trying more than a day nearly every possibility of converting the DataSnapshot from Firebase to the right structure I give up..

[code]

If someone has used this with firebase already, please help out.

[2020-04-21 09:40] boominadhaprakash commented on #88
Hi @codobuxsocial

We are closing this issue due to inactivity. Please reopen, if you face any issue on this.

[2020-04-21 09:40] #88 closed, assigned to ranmyfriend, boominadhaprakash

[2020-04-21 09:58] boominadhaprakash commented on #89
Hi @UtkuDalmaz

I think, it happened because of simultaneous gesture enabled true. So, we disabled the simultaneous gesture and pushed the code to **Boomi/issue89** branch.

Please check and let us know if you face any issues.

[2020-04-21 12:31] UtkuDalmaz commented on #89
Perfect now thanks

[2020-04-21 12:31] #89 closed, assigned to boominadhaprakash

[2020-04-21 18:09] ranmyfriend commented on #95
Hi @LoopingLouieX

Thanks for using this library.

Actually the JSON we are keeping it in the bundle completely supportive on Backend which using Rest calls. But in using Firebase, you have follow the same strategy, like how story and user and to snap we have segregated same like you also can do follow this hierarchy in your firebase Real-Time DB structure. But, you cannot follow the JSON Encoding

[2020-04-23 13:54] boominadhaprakash commented on #94
Hi @onurkun

We are unable to reproduce this issue. :(

[2020-04-24 11:00] codobuxsocial opened #97 "Move seen stories back with gray tint"
**Is your feature request related to a problem? Please describe.**
Requesting this as an enhancement not at all related to a problem.

**Describe the solution you'd like**
I would like the seen stories to move at end like it is on other similar social app.

**Describe alternatives you've considered**
I don't have an idea to do this so requesting here.

**Additional context**
This library has been

[2020-04-24 11:02] codobuxsocial commented on #88
Thanks guys, i managed to do it by implementing a similar swipe gesture to others in IGPreviewController.

[2020-04-24 11:58] ranmyfriend commented on #97
Hi @codobuxsocial

Am explaining you here, How you can achieve this requirement.

1)First of all, when user viewing **snap** you should make seen request to the backend.
2)So when you are reaching out the HomeController, you put up the first fresh request to load the stories rite, There you should add logic: if story.snaps.viewed count and story.snaps.count, then the story has completely viewed by

[2020-04-25 14:16] codobuxsocial commented on #97
Thanks i'll see how it goes, another question should I call seen request API for a story in didEndDisplayingCell inside IGStoryPreviewController right?

[2020-04-25 14:32] ranmyfriend commented on #97
@codobuxsocial
No don't do there, better you go ahead with ** didCompleteProgress** method in the IGStoryPreviewCell. Simply add protocol method to indicate to **IGStoryPreviewController**, whenever each story has been viewed. Then simply go ahead with your API call.

**Note:**
                1)You should call from didCompleteProgress method
                2)didCompletePreview is completing all

[2020-04-27 08:10] codobuxsocial commented on #97
Okay thanks will try later!

[2020-04-27 08:10] #97 closed, assigned to nobody

[2020-05-04 19:01] UtkuDalmaz opened #98 "creating a variable to start a story from specific snap"
Hi there

I am trying to add a variable to start a story from specific snap in IGStoryPreviewController

[code]

here I want to add something like handPickedSnapIndex so I can do sth like

`let storyPreviewScene = IGStoryPreviewController.init(stories: stories_copy, handPickedStoryIndex:  indexPath.row-1, handPickedSnapIndex: 6)`

Can you help me with this?

[2020-05-05 10:18] boominadhaprakash commented on #98
Hi @UtkuDalmaz

Will check and let you know.

[2020-05-06 09:51] UtkuDalmaz commented on #98
@boominadhaprakash

Thank you. Is it possible if you checked?

[2020-05-06 15:12] boominadhaprakash commented on #98
@UtkuDalmaz

Some challenges are there. We are looking into it.

[2020-05-07 18:46] BrandonAPZ opened #99 "Xcode vs Android Studio"
Hello everyone, I am an android developer, the work they have done for xcode is excellent but I would like to know if they have it also available for the android studio IDE

[2020-05-08 04:45] ranmyfriend commented on #99
Hi @BrandonAPZ
Greetings.
We are iOS developers and we made it only available for iOS platform. We don't know Android, in future we may do. But for now, we support only on iOS.
Sorry to say this.

[2020-05-08 04:45] #99 closed, assigned to nobody

[2020-05-13 08:42] #67 closed, assigned to ranmyfriend, boominadhaprakash

[2020-05-13 14:33] UtkuDalmaz commented on #98
Any news? @boominadhaprakash

[2020-05-14 07:42] boominadhaprakash commented on #98
Hi @UtkuDalmaz

I have implemented the requirement what you are expecting. Please take the source code from this branch **Boomi/issues98** and let me know is it working fine or not.

I have modified code in IGStoryPreviewController and IGStoryPreviewCell.

In IGHomeController, as per your requirement, you can pass it like this.

**`let storyPreviewScene = IGStoryPreviewController.init(stories: sto

[2020-05-14 07:44] boominadhaprakash commented on #93
Hi @vBoykoGit

I have implemented the functionality. Please refer the below issue, you will get some idea. Let us know if you have any doubt on that.

https://github.com/drawRect/Instagram_Stories/issues/98

[2020-05-14 13:35] UtkuDalmaz commented on #98
Works perfectly man Thanks!

[2020-05-15 06:26] boominadhaprakash commented on #93
HI @vBoykoGit

Please check issue #98 as per my previous comment. If you have any doubts ask us. Even after apply that fix, if your issue not getting solved, please reopen this issue. I am closing it for now.

Duplicate of #98

[2020-05-15 06:26] #93 closed, assigned to ranmyfriend, boominadhaprakash

[2020-05-15 06:29] boominadhaprakash commented on #95
Closing this issue due to inactivity. Please reopen this, if anyone needs idea or facing issues related to this in future.

[2020-05-15 06:29] #95 closed, assigned to nobody

[2020-05-19 11:48] UtkuDalmaz commented on #98
I guess there is a little bug here, lastPlayedSnapIndex is not correct when init with handPickedSnapIndex. Can you check it @boominadhaprakash ?

When handPickedSnapIndex is 2
snapIndex in IGStoryPreviewCell is 0

[2020-05-19 13:16] boominadhaprakash commented on #98
@UtkuDalmaz

The handpicked snap index only applicable for handpicked story index. Rest of the stories starts with index 0 only.

[2020-05-19 13:20] UtkuDalmaz commented on #98
I am talking about the same story.
For example in a story if I set handpicked snap to 2, it should be snapIndex = 2 in also IGStoryPreviewCell
That way I can set `story?.snaps[snapIndex]` and send data to server

[2020-05-19 13:26] boominadhaprakash commented on #98
One more thing, snapIndex starts from 0. If you set to 2 means, it will start from the 3rd snap.

But which ever snapIndex you are setting, it will start from that only for that story. It will not start from 0.

[2020-05-19 13:29] UtkuDalmaz commented on #98
I know it.
I added some code to `switch direction { case .forward:` in IGStoryPreviewCell and send request to server to mark it SEEN
So If I set handpicked snap to 2 (it will start from 3. snap) I also need to get snapIndex as 2 to send correct data to server but currently it starts from 0 and send wrong data to server.

If I manually backward to previous snap, it gets correct index

[2020-05-19 13:32] boominadhaprakash commented on #98
oh okay. May be in IGStoryPreviewController cellForRowAtIndexPath, I am resetting the handPickedSnapIndex to 0 again. Because once that corresponding story completes, the next story should start from 0 right.

If you want, you can store that handPickedSnapIndex to some other local variable to monitor that.

See, we need to start the snapIndex from 0 only, even if you set the handPickedSnapIndex to

[2020-05-19 13:36] UtkuDalmaz commented on #98
Thanks for the info but it happens before the story completes. I need to get correct index as soon as snap starts. If you have an idea to fix it please share.

[2020-05-19 13:37] boominadhaprakash commented on #98
We need to see your code, from where you are reading the snapIndex and sending it to server and all. Then only we can guide you.

[2020-05-19 13:39] UtkuDalmaz commented on #98
Got it. How can I access handpicked snap index in IGStoryPreviewCell?

[2020-05-19 13:42] boominadhaprakash commented on #98
In IGStoryPreviewCell, already handPickedSnapIndex variable is there. We are passing the handPickedSnapIndex from Controller to Cell and assigning it to that variable.

[code]

And once that snap completes, we are resetting that self.handpickedSnapIndex to 0. So, you can create one dummy variable in IGStoryPreviewCell and store that value.

[2020-05-19 13:44] UtkuDalmaz commented on #98
Ok Great I fixed it using handpickedSnapIndex. Thanks

[2020-05-19 13:44] #98 closed, assigned to ranmyfriend, boominadhaprakash

[2020-05-25 11:25] MariaJsn opened #100 "Work with server"
How can I request server to get story before swipe to next story?

When story moves automatically to another one I can request to server than show story.
But when user swipe the screen for another story how can I request to the server?

[2020-05-26 06:57] boominadhaprakash commented on #100
Hi @MariaJsn

To implement this, you should know about the methods involved for this functionality. I will explain you about four methods which are responsible for story or snap movement.

1. **Method:** -> didCompleteProgress()

- You can find this method in IGStoryPreviewCell. This method is responsible for automatic snap movement. If one snap progressor completes, then this method will call for

[2020-06-01 04:44] codobuxsocial commented on #97
Can you guide me how can i start the story from index where story is not seen yet?

[2020-06-03 07:34] boominadhaprakash commented on #97
Hi @codobuxsocial

Please refer #98

[2020-06-03 12:56] Harshvk opened #101 "How to start playing snaps from some desired index inside a story? Can you suggest something."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-03 14:07] boominadhaprakash commented on #101
Hi @Harshvk

We have already addressed this issue. Please refer #98 issue.

[2020-06-10 14:14] ramanocs1145 opened #102 "Seems image and Video(If Portrait) not displaying full screen"
**Describe the bug**
I can able to see full frame for IGStoryPreViewView and UICollectionView when I change constraint like below,

[code]

But Seems In `IGStoryPreViewCell Y position having 39 instead of 0`

**To Reproduce**
Make build on iPhone 11 Pro Max simulator or device.

**Expected behavior**
Should have full screen based on `IGStoryPreViewView`

**Screenshots**
![HierarchyFullview](https:

[2020-06-11 01:47] ranmyfriend commented on #102
@ramanocs1145 We will check and update you :)

[2020-06-19 14:23] ramanocs1145 commented on #102
@ranmyfriend & @boominadhaprakash ,

It's fixed. I just return like `return CGSize(width: _view.snapsCollectionView.frame.width, height: _view.snapsCollectionView.frame.height)` even our required Deployment target from `iOS 11.0` on `sizeForItemAt from UICollectionViewDelegateFlowLayout` at `StoryPreViewViewController`

Thanks for giving this wonderful library for to support `Instagram Stories` fo

[2020-06-19 15:03] #102 closed, assigned to boominadhaprakash

[2020-06-19 16:06] ranmyfriend commented on #102
You are great. Thanks for your support.

[2020-06-24 07:16] boominadhaprakash commented on #101
@Harshvk Please reopen this issue if it is not solved yet.

[2020-06-24 07:16] #101 closed, assigned to nobody

[2020-06-24 07:17] boominadhaprakash commented on #100
@MariaJsn Hope we resolved your query and we are closing this issue.

[2020-06-24 07:17] #100 closed, assigned to boominadhaprakash

[2020-07-08 07:05] ramanocs1145 opened #103 "Need pause and resume when redirect to another controller on click button action and pop to story module."
**Describe the bug**
In my requirement I have implemented `Tag` button for knowing another product details by redirecting with another controller. The `Tag` button creation process on this method success case `private func startRequest(snapView: UIImageView, with url: String, placeholderImage: UIImage? = nil, aSnapInfo: Snap)`

Here If a story have couple of image type stories.  when I click on ta

[2020-07-08 08:12] boominadhaprakash commented on #103
Hi @ramanocs1145

Actually when you click tag button, it will pause on the second snap only. But the problem is occurring, when you are clicking back button.
Check is there any collection view or cell related method calling by putting breakpoint when you are clicking back button.
If collection view methods are calling means, you can manage with bool variable. When you tap tag button, you can make

[2020-07-08 08:17] ramanocs1145 commented on #103
Hi @boominadhaprakash ,

Thanks for your quick reply.

Could you see the `tag` button click on that recorded video? you should see first index story image when click `tag` icon at during `second` index.

Regarding your point - `But the problem is occurring, when you are clicking back button.` - Let me check with break point and update you asap.

[2020-07-08 08:22] boominadhaprakash commented on #103
Hi @ramanocs1145

Yes, I replied you after saw that video only.

[2020-07-08 08:31] ramanocs1145 commented on #103
Could you see it again please? cause on that video the current story having couple of image type stories. so I have clicked tag icon at second index story. so you can see the first index story image during the redirection push.

And FYI: I have added that tag button `subview and bringSubviewToFront` of `contentView`

Like below,
[code]

[2020-07-08 08:47] boominadhaprakash commented on #103
Hi @ramanocs1145

Can you paste the tag button action code? Is that tag button is assigned to each snap, or is it common for entire story?

[2020-07-08 08:57] ramanocs1145 commented on #103
Hi @boominadhaprakash ,

I have implemented that tag action like on your demo source which is downloaded from here. Please check `IGStoryPreviewCell` class `private func startRequest(snapView: UIImageView, with url: String)` for added the `tag` button indicate with background color.

I hope now you can see the issue. Please try with `Lara` user cause she have all image type stories and make button

[2020-07-08 09:21] boominadhaprakash commented on #103
Hi @ramanocs1145

I will check and let you know.

[2020-07-08 11:50] ramanocs1145 commented on #103
Hi @boominadhaprakash ,

Any idea? Seems scrollview content offset automatically set with zero. how to prevent this?

[2020-07-08 13:39] ramanocs1145 commented on #103
Hi @boominadhaprakash ,

I think I have fixed this issue - `scrollview content offset automatically set with zero` by storing scrollViewContentOffset values on separate variable `willMoveToPreviousOrNextSnap && didCompleteProgress`.

And then I have updated that contentOffset variable to scrollView content offset on `UIScrollViewDelegate scrollViewDidScroll` like,

[code]
And also called `self.mak

[2020-07-08 13:39] #103 closed, assigned to ranmyfriend, boominadhaprakash

[2020-07-08 14:50] boominadhaprakash commented on #103
@ramanocs1145 Good to hear!!

[2020-07-08 17:42] pratikgajbhiye222 opened #104 "HOW TO remove your story and 1st cell"

[2020-07-08 17:48] #104 closed, assigned to nobody

[2020-07-08 17:48] pratikgajbhiye222 commented on #104
I got it , by removing index path in particular places

[2020-07-08 22:22] pratikgajbhiye222 opened #105 "how to add this stories as a part of header in tableview?"
![Screenshot 2020-07-09 at 3 51 07 AM](https://user-images.githubusercontent.com/58308681/86976125-6cee4b00-c197-11ea-9773-d8869716ebb1.png)

I want to achieve this screen where this stories is the part of tableview header and also I want to add other collection view and list view at follow . Can you please help me with this?

[2020-07-11 05:56] ranmyfriend commented on #105
Hi @pratikgajbhiye222

Definitely you can use our library. So if you look at our IGHomeview -> We have used Basic CollectionView only. So you just create one Header View with our collection view how we have done in IGHomeView. And try to pass it to the UITableView header in Section or TableHeaderView. However you want?

Let us know if you face any issues.?

[2020-07-11 06:31] pratikgajbhiye222 commented on #105
Thanks , It helps me

[2020-07-11 06:31] #105 closed, assigned to nobody

[2020-07-21 00:13] Ludotrico opened #106 "[META] Where are all the instructions?"
I have read through the read-me but I have been unable to find how to use the library. The how-to-use section seems like it is missing instructions. Is there documentation elsewhere that explains how to implement the library properly and populate the views with our own JSON objects?

_Extra:_ This library seems to not be on CocoaPods, why? Since it is not, how can one add the library to an existin

[2020-07-21 04:42] boominadhaprakash commented on #106
Hi @Ludotrico

We have created Instagram Stories as a sample project. It has two main ViewControllers. One is IGHomeViewController and another one is IGStoryPreviewController. **It is not a library**. You can just follow what we have mentioned in the **How To Use** section.

Let us know the missing instructions and what difficulties you are facing when you use our code in your project. We will upd

[2020-07-22 09:30] ranmyfriend commented on #106
Hi @Ludotrico

**Questions** you were asked in the **Mail-chain**:

1) Is a video time limit imposed at all? If a video URL for a single snap is 60 seconds long what will happen? Do you expect that each snap is less than x seconds?
2) As of now, the code positions the collection views of stories so that it is pinned to the navigation bar. In my app's use case, I must have the collection view of st

[2020-07-22 19:00] Ludotrico commented on #106
I have spent the last hour attempting to reposition the collection view for my specific needs and each time the collection view disappears when you make any gesture on it. I have simplified an example so that it can be easily replicated. I have a TestVC that creates a rectangle in the middle of the screen. I then pin IGHomeController's view to that rectangle. I have tried every variation I could t

[2020-07-23 05:33] boominadhaprakash commented on #106
Hi @Ludotrico

Can you share the output screenshot of your existing code and what is the output you are expecting?

[2020-07-23 07:08] Ludotrico commented on #106
[Here you can clearly see](https://imgur.com/a/tUhxNEr) the blue rectangle in the middle of the view. I anchored the IGHomeController to the blue rectangle. However the second I touch (swipe, tap) the collection view in any way, it simply disappears as you can see in the final picture.

Let me know if you understand how to correctly reposition the collection view anywhere on the screen (eg. the mi

[2020-07-24 05:22] boominadhaprakash commented on #106
Hi @Ludotrico

IGHomeViewController itself testVC. You can modify IGHomeViewController and achieve whatever you want.

Otherwise you can directly take IGHomeViewController's CollectionView and its delegate methods to your testVC.

[2020-07-25 22:59] Ludotrico commented on #106
Got it working to my liking, thanks! Couple more questions:

1.) How extensive is the caching system? Is all media cached, including profile pictures, snap images, and snap videos?
2.) I see that there is a function that clears the cache. Does the existing cache implementation clean itself? If not, when should I call this function?

@boominadhaprakash @ranmyfriend

[2020-07-27 05:08] boominadhaprakash commented on #106
Hi @Ludotrico

**Caching:** We have used our own logic for caching the images including profile pictures, snap images and snap videos.

**Clear Cache:** Currently we have set 100MB for Image Cache. For Video we didn't set any cache limit. You can check the Image cache limit in Source --> ImageStorer --> IGCache.swift. Video Cache functionality implemented in IGVideoCacheManager.
Deleting the cache

[2020-07-29 07:06] shailu95 opened #107 "Implement a swipe up in scrollview"
**Is your feature request related to a problem? Please describe.**
Hi there, Can you help me with the swipe up feature in the same collectionview cell or
scrollview. Just like in the Manchester United App has

video of Requirement
https://drive.google.com/file/d/1NSzVVavr88ll0ntJd2glTtly4zuEpLgK/view?usp=sharing

This will be helpful of you, thanks

[2020-07-29 13:21] boominadhaprakash commented on #107
Hi @shailu95

This is not something we need to work with our repository. You can modify our IGStoryPreviewController code as per your requirement.

[2020-07-29 13:21] #107 closed, assigned to nobody

[2020-07-30 15:26] ranmyfriend commented on #106
I hope we have given enough information regarding this library usage in your project.
Am closing this issue it for now. If you need any help in future. feel free to open it.

[2020-07-30 15:26] #106 closed, assigned to ranmyfriend, boominadhaprakash

[2020-08-17 19:01] Ludotrico opened #108 "[META] How to change datasource from static JSON file to API response?"
I see that there is a "stories.json" file that feeds all the models. I have already conformed the backend to return a JSON response identical to the "stories.json" file. However, I do not find it clear where/how I can populate the models.

This is how I usually transfrom JSON data into models using Alamofire:

    func getStoryData(completion: @escaping(Result<IGStories, Error>) -> ()) {
        D

[2020-08-18 05:05] boominadhaprakash commented on #108
Hi @Ludotrico

Please refer this issue [https://github.com/drawRect/Instagram_Stories/issues/85](https://github.com/drawRect/Instagram_Stories/issues/85). We have already addressed your problem in this issue.

[2020-08-19 00:54] #108 closed, assigned to boominadhaprakash

[2020-08-19 01:08] Ludotrico opened #109 "[question/request] How to open story at a specific snap index?"
Not sure why this is not implemented as it is vital in story implementation:

example logic:

[code]

When a user views any snap, the lastPlayedSnapIndex is saved on the server. This means that the lastPlayedSnapIndex is saved in a database for each story, for each user. When a user taps on a story, the model has the lastPlayedSnapIndex from the server and thus can easily calculate which snap shou

[2020-08-19 05:05] boominadhaprakash commented on #109
Hi @Ludotrico

We haven't created complete Instagram application. User mostly stuck on viewing snaps with progress bar. We have concentrated and implemented that part only. You can apply your own logic and modify the code on top of our implementation.

We haven't used any server to store and retrieve the lastPlayedSnapIndex value. That's why we haven't concentrated on that part.

If you have the l

[2020-08-19 18:23] Ludotrico commented on #109
Where is the code for issue #98?

[2020-08-20 05:21] Ludotrico commented on #109
@boominadhaprakash incredible, thank you.

Couple questions:

1.) Your branch allows stories to be opened at a specific snap index which is great. However, this only works for the first selected story. The functionality is lost if you swipe to the next story, it _always_ starts at 0 no matter what. Any insight on how to make the library respect the lastPlayedSnapIndex even when tapping through sto

[2020-08-21 13:23] punitsilversky opened #110 "[question] How to reload collectionView or Cell ??"
Hi @boominadhaprakash,

I added delete snap functionality in MyApp

When I delete particular snap and i reload the collection view at that time it crashs and it shows snapIndex out of range.

I want to achieve delete snap feature like instagram.

I'm stuck in reload collectionView
So, how to reload cell or collectionView??

[2020-08-24 04:49] boominadhaprakash commented on #110
Hi @punitsilversky

Please share your delete snap functionality code and tell me where you are trying to reload the collectionView?

[2020-08-24 05:01] punitsilversky commented on #110
I added one delete button in IGStoryPreviewHeaderView and i call its action on IGStoryPreviewController like you called for close button

Here is delete button action code

    func didTapDeleteButton(snapObj: IGSnap)
    {
            if let snapIndex = self.stories.stories[0].snaps.firstIndex(where: {$0.internalIdentifier ==
                   snapObj.internalIdentifier})

[2020-08-24 05:07] boominadhaprakash commented on #109
Hi @Ludotrico

**Answer for your 1st Question:**
           When you are moving to next story by swiping it or when it automatically moves, you can set the lastPlayedSnapIndex value to that particular story's lastPlayedSnapIndex value. So that it will start from the lastPlayedSnapIndexValue. You can tweak the willDisplayCell method to achieve your functionality.

**Answer for your 2nd Question:**

[2020-08-24 05:15] boominadhaprakash commented on #110
Hi @punitsilversky

We are loading the items in sections not in row. So, when you reload the collection view, update the section values. I am just giving you the idea.

[code]

[2020-08-24 05:15] boominadhaprakash commented on #109
Hi @Ludotrico

We have merged the branch. Kindly look into it.

[2020-08-24 09:55] punitsilversky commented on #110
Hi @boominadhaprakash,

Thanks for Update Section values solutions, this solution work for me..

But, If i have 3 snaps and i'm deleting 2 snap after that i want to reload progressors for snap and move to third snap like instagram

So, How reload snap progressors and move to next snap if available otherwise if i deleting last snap then move to first snap

Please, See Instagram snap delete function

[2020-08-24 11:00] boominadhaprakash commented on #110
Hi @punitsilversky

The functionality which you are trying, we have already tried and it is available in **Boomi/snapdelete** branch. Please checkout the code from that branch and try it.

We have added the delete functionality in action sheet, it is only available for **"Your Story"** cell. Click **Your Story** and do swipe up gesture from bottom. You can see the action sheet with delete function

[2020-08-24 17:49] Ludotrico commented on #109
Thanks, for me the branch is working great.

I achieved a solution to number 1 which is making the _struct_ models into _classes_. This allows for changes to lastPlayedSnapIndex (which is stored in my model) to persist as the objects are passed by reference, exactly how instagram has it. Thank you for your time.

[2020-08-24 17:49] #109 closed, assigned to ranmyfriend, boominadhaprakash

[2020-08-24 18:05] Ludotrico opened #112 "[improvements] Crucial feature additions"
With a few adjustments to fit with my own models and functionality, this library is working great and is easy to understand (for the most part).

However I have listed a few improvements that would enhance this library immensely. Here they are ranked by **order of importance**:

1. When two consecutive video snaps are playing, they do not play together smoothly. On Snapchat and Instagram, the vide

[2020-08-25 05:00] boominadhaprakash commented on #112
Hi @Ludotrico

If you are ready to contribute to our repository, please feel free to add your code in separate branch and raise a pull request.

We will verify your code and will merge with master. Currently we are busy with our own projects work. So, it will take time to concentrate on these improvements.

Thanks for your suggestions.

[2020-08-25 06:08] punitsilversky commented on #110
Thanks! @boominadhaprakash

This is what i looked for, it is working

I think you need to merge this Boomi/snapdelete branch to master.

If any one need it, they can try it

[2020-08-25 06:20] boominadhaprakash commented on #110
Hi @punitsilversky

Glad to hear that your issue resolved. We will merge it with master.

[2020-09-01 14:00] boominadhaprakash commented on #110
Hi @punitsilversky

We have merged the **Boomi/snapdelete** branch with master. Also tweaked some code related to snap delete. So take the updated source code from master branch.

[2020-09-05 04:26] punitsilversky commented on #110
Hi @boominadhaprakash

I have checked delete snap code from master branch, And One issue was there in delete snap

When snap type was video and  i delete that snap at that time Progressor was stuck for next snap.

I tried it but i'm unable to find out this issue

So, Please Check this issue

[2020-09-07 04:21] boominadhaprakash commented on #110
Hi @punitsilversky

Okay. I will check and let you know.

[2020-09-09 06:32] boominadhaprakash commented on #110
Hi @punitsilversky

I have fixed the issue what you have mentioned and pushed the changes in **Boomi/snapdelete** branch. Checkout the code from that branch and test the delete functionality.

Let me know, if the issue is fixed or not. Once you confirmed will merge the code with master.

[2020-09-09 08:57] punitsilversky commented on #110
Hi @boominadhaprakash

I have checked Boomi/snapdelete branch code.

When snap type was video and i delete that snap after that all work good

But When I delete First image snap after that the next snap was video snap at that time progressor was stucked in video snap

I Think need to start progressor or something else After delete snap if the next snap was video

[2020-09-09 10:23] boominadhaprakash commented on #110
Hi @punitsilversky

Sorry, I have missed that scenario. I have fixed and updated the code in that same branch. Please check it and let me know.

[2020-09-09 12:19] punitsilversky commented on #110
Hi @boominadhaprakash

Thanks for your effort, I appreciated that

Last issue was solved, But I Found another issue

So, Please see this Zip File I've attached video in zip..

[IMG_0252.TRIM.MOV.zip](https://github.com/drawRect/Instagram_Stories/files/5195043/IMG_0252.TRIM.MOV.zip)

[2020-09-09 12:34] boominadhaprakash commented on #110
Hi @punitsilversky

I will check it. Thank you.

[2020-09-09 14:16] boominadhaprakash commented on #110
Hi @punitsilversky

I have fixed and updated the changes in **Boomi/snapdelete** branch. Please checkout the latest code and let me know if you get any other issues.

[2020-09-10 04:21] punitsilversky commented on #110
Hi @boominadhaprakash

Thanks for your effort and valuable time, I appreciated that

I have checked Boomi/snapdelete branch code and I Found another issue.
Sometimes progressor stops after snap delete, But When I tap next after that it works fine

So, Please see this Zip File I've attached video in zip..

[IMG_0257.MOV.zip](https://github.com/drawRect/Instagram_Stories/files/5199145/IMG_0257.MOV.z

[2020-09-10 04:50] boominadhaprakash commented on #110
Okay @punitsilversky. I will check it.

[2020-09-11 06:58] boominadhaprakash commented on #110
Hi @punitsilversky

I have fixed those issues. Please checkout the latest changes from **Boomi/snapdelete** branch and check it.

[2020-09-11 09:41] punitsilversky commented on #110
Thank! @boominadhaprakash, You're Great!

I Checked it, All Issues have been solved and It Works good.

[2020-09-11 10:01] ranmyfriend commented on #110
Thank you @punitsilversky for your confirmation and keeps on checking the status here.

[2020-09-11 12:11] boominadhaprakash commented on #110
Hi @punitsilversky

Glad to hear that issue got fixed.

[2020-09-14 04:49] #110 closed, assigned to ranmyfriend, boominadhaprakash

[2020-09-14 10:06] ajaychaudharkansal opened #115 "How can I comment on the particular post ?"
Hello Sir,

Can you please help me in this. I want to comment on the stories. For that I add the textfield in (IGStoryPreviewView class.) but I'm facing problem in that . Can you please help in this. it will be very helpful for me .

Thanks
Ajay

[2020-09-14 11:01] ranmyfriend commented on #115
Hi @ajaychaudharkansal

You can add one Text field on **IGStoryPreviewCell**  and there itself you can add text field delegates once user ends up what he commented out. Then try to get it from  Previewcell to ViewController. Then do whatever you want.

Let us know if you face any issues.

[2020-09-14 11:08] ajaychaudharkansal commented on #115
Thanks @ranmyfriend

Yes doing the same , by mistake I added the textfield in IGStoryPreviewView class. Now I'm using IGStoryPreviewCell class . I got the text while commenting on the stories I also have to pause the progress bar , for that I'm understanging your code.

If I faec any problem then I will let you know.

Thanks for the reply.

[2020-09-14 11:12] ranmyfriend commented on #115
Thanks for your quick confirmation @ajaychaudharkansal . for now, am closing this issue. if you face any issue in future. feel free to reopen 👍

[2020-09-14 11:12] #115 closed, assigned to boominadhaprakash

[2020-09-15 06:54] ajaychaudharkansal commented on #115
hi @ranmyfriend

Thanks for your response , I done with the textfield part , now I'm doing something like , when user click on textfield than I want to open child view controller . For that I'm adding child controller on it . for that I'm using this code.

let popVC = controller.storyboard?.instantiateViewController(withIdentifier: "CommentOnMystryStyVC") as? CommentOnMystryStyVC
   controller.add

[2020-09-15 06:55] ajaychaudharkansal opened #116 "hi @ranmyfriend"
Facing issue while adding child controller

hi @ranmyfriend

Thanks for your response , I done with the textfield part , now I'm doing something like , when user click on textfield than I want to open child view controller . For that I'm adding child controller on it . for that I'm using this code.

let popVC = controller.storyboard?.instantiateViewController(withIdentifier: "CommentOnMystryStyVC"

[2020-09-15 10:53] boominadhaprakash commented on #116
Hi @ajaychaudharkansal

If popVC is nil means you have to check this **controller.storyboard?.instantiateViewController(withIdentifier: "CommentOnMystryStyVC") as? CommentOnMystryStyVC** code.

Put breakpoint and check each values like, check **controller** value, check **controller.storyboard?** value, check **controller.storyboard?.instantiateViewController(withIdentifier: "CommentOnMystryStyVC"

[2020-09-15 11:08] ajaychaudharkansal commented on #116
Thanks for the response ,  done with this issues.

[2020-09-15 11:13] ajaychaudharkansal commented on #116
Actually I stuck on last point , when I have to remove the child controller than , I have to resume the progress bar  by using this code.

let v = self.getProgressView(with: self.snapIndex)
  v?.resume()

the problem I'm facing here is I'm not able to understand how to call this function .

can you please help me in this .

[2020-09-15 11:29] boominadhaprakash commented on #116
Hi @ajaychaudharkansal

You no need to worry about the v?.resume and all.

In IGStoryPreviewCell, the methods are already available to do this job.

`public func pauseEntireSnap()`
`public func resumeEntireSnap()`

The above two methods you can find in IGStoryPreview and utilise it.

If you are having cell instance, then you can simply call cell.pauseEntireSnap(), cell.resumeEntireSnap() like this

[2020-09-15 12:25] ajaychaudharkansal commented on #116
hi @ranmyfriend
Thanks for the response. I will check it . I also have one more query . if I want to show text with story than I should I have to do .

[2020-09-15 13:25] ajaychaudharkansal commented on #116
hi @ranmyfriend ,
Please help me in this , I also want to show text along with images in stories. Please guide me how to do this .

Thanks

[2020-09-16 08:45] ajaychaudharkansal commented on #116
hi @ranmyfriend

I'm waiting for your response . Can you please guide for the points I mentioned you.

[2020-09-16 09:14] boominadhaprakash commented on #116
Hi @ajaychaudharkansal

Don't have idea, you can modify the code as per your wish to achieve your requirement,

[2020-09-16 09:22] ajaychaudharkansal commented on #116
okay Thanks @ranmyfriend  . Thanks for the response

[2020-09-16 09:28] ranmyfriend commented on #116
@ajaychaudharkansal
Yeah, it's completely based on your requirement. and can you please help us see what exactly you want to do here? and if you have any wireframe or some kind of rough images. please attach here. So that we can confirm it once.

[2020-09-16 09:37] ajaychaudharkansal commented on #116
hi @ranmyfriend  Thanks for the response . Please check the attachment.

In this in want to show text along with images. the green view is label .

https://user-images.githubusercontent.com/71260037/93319888-0e47ec00-f82e-11ea-994f-cd46bc949077.png

[2020-09-16 09:41] ranmyfriend commented on #116
@ajaychaudharkansal
Got it. This is kind of additional things you are attaching to the IGStory. I mean to say. Image or Video on top of this user can add something to it. This is we have not planned yet. Right now we don't have time to do this. Maybe in future, we will add this feature. You just search for any library or tool which you can implement this.

[2020-09-16 09:41] #116 closed, assigned to nobody

[2020-09-16 09:53] ajaychaudharkansal commented on #116
@ranmyfriend  actually i searched a lot , but didn't find any of the library related to that .

If I want to modify in your code , than can you please tell me in which class I have to do modification.

I add this code in **IGStoryPreviewCell**

lazy var snapCommentOnImage : UILabel! = {
        let commentOnImage = UILabel(frame: CGRect(x: 10, y: self.bounds.height/1.5, width: UIScreen.main.bounds

[2020-09-16 10:52] ajaychaudharkansal commented on #116
hi @ranmyfriend  I done this part also . Thanks for very thing. I learned new things in this.

Thanks @ranmyfriend  @boominadhaprakash .

[2020-09-16 10:54] ranmyfriend commented on #116
Sounds Great 👍

[2020-09-16 10:57] ranmyfriend commented on #94
Closing this issue. Because of the long period of not getting this issue from anyone.
If anyone facing this feels free to reopen 👍

[2020-09-16 10:57] #94 closed, assigned to ranmyfriend, boominadhaprakash

[2020-09-16 10:58] ranmyfriend commented on #68
Closing this issue. Because of not getting enough time to continue the development. and if we are doing it on the future. Will add this on the feature list.

[2020-09-16 10:58] #68 closed, assigned to ranmyfriend, boominadhaprakash

[2020-09-16 11:03] boominadhaprakash commented on #116
Welcome!!! @ajaychaudharkansal

[2020-09-18 11:22] bhaveshdaswani93 commented on #110
Hey @punitsilversky you did very brilliant work as
this was very needed feature and you not only raised the issue but also help in testing
That is one of the unique thing i have seen.
Great going

[2020-09-24 07:26] ajaychaudharkansal opened #117 "Progress bar issue"
Hi @ranmyfriend & @boominadhaprakash

Thanks for this library. This helps me a lot. Sorry for the inconvenience , but I'm facing one issue with progress bar . Some time progress bar is not showing & also not changing the next image. The progress bar is also not showing the progress. Please check the attachment.

https://user-images.githubusercontent.com/71260037/94113871-2be80780-fe65-11ea-898d-8e

[2020-09-24 11:03] ranmyfriend commented on #117
Hi @ajaychaudharkansal
Can you please list down the use case for this issue. so that we can reproduce it from outside and try to give fix.

[2020-09-24 11:21] ajaychaudharkansal commented on #117
Hi @ranmyfriend

Thanks for the response . Let me share you a video link , that might help you to understand the issue. Please check the video link.

https://youtu.be/oKQA3QbbyXw

Thanks

[2020-09-24 12:11] ranmyfriend commented on #117
It says Video is Unavailable @ajaychaudharkansal

[2020-09-24 12:15] ajaychaudharkansal commented on #117
Hi @ranmyfriend

Sorry for that . let me check it again. That was a youtube video link .

[2020-09-24 12:41] ajaychaudharkansal commented on #117
Hi @ranmyfriend

Please Check this link.

https://youtu.be/eDV7XSNkUVk

[2020-09-24 14:16] boominadhaprakash commented on #117
Hi @ajaychaudharkansal

We will check it and revert you back. Before that, let us know, have you modified any existing code? Is it stopping the progress bar?

[2020-09-25 04:42] ajaychaudharkansal commented on #117
hi @boominadhaprakash

Sorry for the late response . I didn't changed anything in both of the **progress** classes.

I only changed the data type of story_identifier from string to Int. Nothing else I changed in that,

final class IGSnapProgressView: UIView, ViewAnimator {
    **public var story_identifier: Int?**
    public var snapIndex: Int?
//    public var isCancelledAbruptly = false
    publ

[2020-09-25 09:11] ajaychaudharkansal commented on #117
Hi @ranmyfriend & @boominadhaprakash

Please help me in this issue.

Thanks

[2020-09-25 09:17] ranmyfriend commented on #117
Hi @ajaychaudharkansal Actually, we played the scenario what you have mentioned. but not easily reproducible. We will try to load more stories and will play with this and let you know. I Will reply in the evening.

[2020-09-25 09:19] ajaychaudharkansal commented on #117
@ranmyfriend

Thanks for the response.

[2020-09-26 11:09] ranmyfriend commented on #117
Hi @ajaychaudharkansal
We got one issue from outside. when we are deleting the last snap of current user, then trying to view other user story. then the progress bar and view is getting stuck. We are trying to solve this issue as soon as possible. But apart from this delete functionality, we have not faced any progress bar issue. what you have mentioned here.

Can you please list down the use case

[2020-10-20 13:09] YazanQ opened #118 "RTL not supported"
**Describe the bug**
when the app is in RTL stories video not working but sounds do and the controller will always open the first story

[2020-10-21 08:09] #118 closed, assigned to nobody

[2020-10-21 08:10] YazanQ commented on #118
in case someone faced the same issue
The scroll view in IGStoryPreviewCell should be forced from left to right
sv.semanticContentAttribute = .forceLeftToRight

[2020-10-22 05:24] boominadhaprakash commented on #118
Thank you @YazanQ

[2020-12-17 06:35] forTJ555 commented on #109
@Ludotrico can pls send code how you handle this

[2021-01-04 08:04] sourish commented on #67
Hi @boominadhaprakash,
Thank U for the so fast response, apologise for not updating u, I was moved to another task. The delete functionality worked, but there were issues of progress bar.But in the recent build when i saw those issues got fixed.

Thank U so much for the functionality and fixes of progress bar.

[2021-01-05 07:51] sourish opened #119 "The user is navigated back and forth based on where the user taps on a story."
https://user-images.githubusercontent.com/1575118/103912861-d1319d80-512d-11eb-8a29-9ea808fdcfe5.mov

**Describe the bug**
The user is navigated back and forth based on where the user taps on a story causing the user to go back and forth while the user switches between stories of different accounts while navigating quickly.

**To Reproduce**
1. Turn off the cubic Animation
Steps to reproduce the b

[2021-01-06 13:35] forTJ555 opened #120 "duplicate progress bar issue"
Hi @ranmyfriend @boominadhaprakash i facing duplicate progress bar issue when start story from particular snap
below are some change that i did

in `cellForItemAt`  i have change these thing

[code]

 `lastPlayedSnapIndex` we are storing at backend

 and in `willDisplay` method did below changes

[code]
pls let me if did anything wrong. the duplicate progress is not shown randomly i am not to repr

[2021-01-06 13:35] forTJ555 commented on #120
![Simulator Screen Shot - iPhone 11 - 2021-01-06 at 19 03 27](https://user-images.githubusercontent.com/42463540/103774171-27311300-5052-11eb-8849-3de7d4f60066.png)

[2021-01-07 05:29] boominadhapm commented on #120
Hi @forTJ555

We will check and let you know. Are you using our latest master branch source code?

[2021-01-07 06:09] forTJ555 commented on #120
Hi @boominadhaprakash , no i haven't use the latest code, because i did many changes in at my end. if you can mention which classes of library you update that can prevent this issue then it would be great help and i'll change only those

[2021-01-07 06:13] boominadhapm commented on #120
Hi @forTJ555 Please take latest source folder from Master and apply your changes on that. Because we have done so many bug fixes and improvements in almost all files.

Even after updating to latest code, if you face any issues let us know.

[2021-01-07 06:26] forTJ555 commented on #120
okay thanks i'll do and let you know if there is still any issue. and pls confirm am i follow right approach to start story from particular snap with upper mentioned code? @boominadhaprakash

[2021-01-07 07:03] boominadhapm commented on #120
Hi @forTJ555

Please refer this issue #109

You will get to know, how to start story from particular snap.

[2021-01-07 15:50] sourish commented on #119
@ranmyfriend / @boominadhaprakash : Could you please look into the issue. I have only stopped the cubic animator.

[2021-01-08 06:10] boominadhaprakash commented on #119
Hi @sourish

The code we wrote to support for Instagram Stories with cubic animation only. We are not supporting/implemented without cubic animation.

If you want without cubic animation, you can write your own logic like once animation starts you can make scrollView.isUserInteractionEnabled = false and once animation done, you can enable it or you can try some other library which are available on

[2021-01-08 12:38] sourish commented on #119
Hi @boominadhaprakash ,

Thank U for the quick response.
Thank u for the suggestion, I will try the way u said & I did not get anything better than yours.
If you can suggest any, I will check that project and may be it might help me.

I totally understand that.

[2021-01-13 09:54] punitsilversky opened #121 "Story controller closes second time"
Hi @boominadhaprakash

I found one issue, that first time story view controller works fine. But, Second time it closes the controller without completing story

So, Please see this Zip File I've attached video in zip..

Please Look into this...

Thanks!
Punit

[Screen Recording 2021-01-13 at 3.08.35 PM.mov.zip](https://github.com/drawRect/Instagram_Stories/files/5807759/Screen.Recording.2021-01-13.

[2021-01-13 11:39] boominadhaprakash commented on #121
HI @punitsilversky

Is that issue happening on our default master branch code?

[2021-01-13 11:47] punitsilversky commented on #121
Hi @boominadhaprakash

In your default master branch code is working fine.

But I'm using your code in my app it generates above issue.

I'm trying to know why this issue comes

If you know something about this Please let me know or give some hint about that

Thanks!

[2021-01-13 13:17] boominadhaprakash commented on #121
@punitsilversky

Are you handling the data with already user viewed or not? If you are doing like that means, you have to check that logic only.

If you want to check the issue, comment all the implementation and enable the functionality one by one. So that you can easily find, which functionality making this issue.

[2021-01-18 04:16] punitsilversky commented on #121
Thanks @boominadhaprakash

I will check and try to solve

[2021-01-19 12:59] #121 closed, assigned to nobody

[2021-02-01 16:28] fredsco opened #122 "cannot find 'IGAppUtility' in scope"
**Describe the bug**
When I add the "source" folder to my project and try to run I receive the following error: 'cannot find 'IGAppUtility' in scope'   in file: IGStoryPreviewController.swift (line: 117) this is also for 'IGStoryListCell' and  'IGAddStoryCell'

I have followed the step from the README.

Is it possible to give a quick demo on how I can successfully import the source code, and creat

[2021-02-01 16:39] fredsco commented on #122
UPDATE: I see that I also needed to import the "Module' folder and IGapputility 👍

I'm still curious how i could init this in my viewcontroller

[2021-02-02 06:07] boominadhaprakash commented on #122
Hi @fredsco

We missed out to check this. Please give me sometime. I will fix this issue and update you.

[2021-04-19 07:08] ghost opened #123 "There is issue with memory. it no releasing memory while we dismiss viewController"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-19 11:58] boominadhaprakash commented on #123
Hi @Bhavik022

Require some more details about the issue. It will be more helpful for us, if you provide any screen recorded video and elaborate your issues.

[2021-05-03 04:02] ranmyfriend commented on #123
closing the ticket due to don't have proper details. Open this ticket whenever you want @Bhavik022

[2021-05-03 04:02] #123 closed, assigned to ranmyfriend, boominadhaprakash

[2021-06-25 20:05] Shariif-Islam opened #124 "Pause story when app goes to background and resume in foreground mode"
I appreciate this wonderful work, it helps me a lot to build similar things. I requesting an improvement relate to Instagram behaviour that is, during playing a video story if app goes to background mode video paused and in foreground mode video resume from where it paused. Also if story in paused state and back from background to foreground mode story remain paused. Same for image story.

Current

[2021-07-02 04:40] boominadhaprakash commented on #124
Hi @Shariif-Islam

We understood the requirement what you have mentioned. But currently we are unable to concentrate on any improvements for this repository due to our office project work. If you have time, you can try this implementation and give us pull request. We are not sure when we will get time to work on this.

[2021-07-28 06:57] albertoramonj commented on #120
I was able to reproduce it. When is transitioning, for example, from an image to a video type (always to a video), you have to long-press just at the moment of the change. Then when you release the press, the video animation seems to end as finished and then starts playing again both video and next snap (don’t know if could be due a concurrency problem or a strange behavior of the UIVIew.animation

[2021-07-28 14:09] boominadhaprakash commented on #120
Hi @albertoramonj

Thanks for spending time and reproduced this issue. It's glad that you found workaround for this bug.

Definitely this will help for other people who will face this same issue.

[2021-07-30 10:22] chandramohan9189 opened #126 "Not Support other langugae .In arebic language its not working"
Not Support other langugae .In arebic language its not working
Please suggest what do in arebic languge and right to left alignment
If its support please tell the changes

[2021-07-30 10:54] boominadhaprakash commented on #126
Hi @chandramohan9189

Currently right to left alignment is not supported. If you want, you can modify the library code and give us Pull Request.

[2021-09-14 18:14] gudiya2610 opened #127 "While playing video if it stops due to network issue, How I can resume progress bar again?"

[2021-09-15 11:25] akshayskycap commented on #127
HIi @ranmyfriend @boominadhaprakash Kindly reply ASAP

[2021-09-17 11:30] boominadhaprakash commented on #127
Hi @gudiya2610 @akshayskycap

Need to show one connection error reload button on centre of the snap when network issue comes. Pause the snap progressor (method is already there in IGStoryPreviewCell) when there is network issue. Again when internet comes or when users clicks on the connection error reload button, need to check internet connection and resume the snap progressor. Pause and resume th

[2021-10-02 11:54] makremch opened #128 "swiftUI 2.0 solution?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-02 14:10] ranmyfriend commented on #128
Hi @makremch
Appreciate your interest on SwiftUI. we are thinking about this. It will take sometime to do this. Keep an eye on this repo on future.

Happy coding :)

[2021-10-02 14:16] makremch commented on #128
Hello,
I have a solution but there is a problem to deal with video : the first
video in the first story still running when i go to the second
Can i send u my code and fix it ?

Le sam. 2 oct. 2021 à 3:10 PM, Ranjith ***@***.***> a écrit :

--
Makrem Hammani
Devloppeur iOS at Avempace

M   +216 97821791 <+216+97821791>
E   ***@***.***
A   Tunis <https://maps.google.com/?q=Tunis>
<https://www.facebo

[2021-10-02 14:23] ranmyfriend commented on #128
Please share with me the code . I will go through it and let you know

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Makrem hammani ***@***.***>
Sent: Saturday, October 2, 2021 7:46:11 PM
To: drawRect/Instagram_Stories ***@***.***>
Cc: Ranjith ***@***.***>; Comment ***@***.***>
Subject: Re: [drawRect/Instagram_Stories] swiftUI 2.0 solution? (#128)

Hello,
I have

[2021-11-15 12:32] aplyamukesh commented on #107
Hi @boominadhaprakash @shailu95 how did you solved this, I also need to add swipe over scrollview inside IGStoryPreviewCell, can you please assist how to do it?

[2021-11-15 12:34] aplyamukesh opened #129 "Need swipe left or right inside one story cell i.e over scrollview"
Need swipe left or right inside one story cell i.e over scrollview.

[2021-11-15 13:25] shailu95 commented on #107
Can you share your email/mobile no.?

On Mon, 15 Nov 2021 at 6:02 PM, aplyamukesh ***@***.***>
wrote:

--
*Regards*
*Shailendra Vishwakarma*

[2021-11-15 14:27] aplyamukesh commented on #107
***@***.***

On Mon, Nov 15, 2021 at 6:55 PM shailu95 ***@***.***> wrote:

[2021-11-15 14:28] aplyamukesh commented on #107
mukesh.lokare@neosoftmail.com

[2021-11-16 10:08] boominadhaprakash commented on #129
Hi Mukesh,

Currently we don't have time to do any changes on this library code. You can try to implement the changes by yourself on this library. If you need any help to find where the relevant files located and all we can guide us.

[2022-01-05 17:12] ghost opened #132 "How do I integrate the stories collection as a part of my viewcontroller (with storyboard) file?"
Dear Ranjith,

I was very impressed with your project Instagram Stories which you published here on github.
I am working on an app which includes a user profile and one of the user profile features will be stories like on instagram, exactly as you build it yourself :)

I am a new developer and still work with a Storyboard on my project.
How do I integrate the stories collection as a part of my vie

[2022-01-05 17:39] ranmyfriend commented on #132
Hi @TheSlider32

Thanks for creating an issue :)

 Actually, we have created `IGHomeController` for this root setup.  And this controller has collection view only, What am saying here is you can **1)reuse this view controller for yourself**, or create one container view add to try to **2)add this IGHomeController as child-view controller** to your own VC.
If you are still now able to achieve it, a

[2022-01-06 15:03] ghost commented on #132
finally !!
Thank you very much it works !!

[2022-01-06 19:08] ghost commented on #132
When I reuse IGHomeController inside container view the clear cache button doesn't appear. But when I started your project alone it does shows the clear cache button.
How can I activate the clear cache button inside the container view?

Best Regards,
Ido.

[2022-01-06 19:20] ranmyfriend commented on #132
Hi @TheSlider32
We have added **clear cache** button in the **NavigationItem** of _IGHomeController_.

check the following code
[code]
### Try:
_Create one subview in your container view and try to add the custom button and give the functionality._
_and hook up the button action to your parent func clearImageCache or move this into your child itself. however you want do your customisation._

[2022-01-22 13:18] mrugeshtank opened #133 "Story with 100 snaps"
**Describe the bug**
Our platform has a limit that any user can upload up to 100 stories in 24 hours, so when we were testing, all snaps from the user was appearing for fraction of a second and then display next. like all 100 snaps were played in 2 or 3 seconds.

**To Reproduce**
Steps to reproduce the behavior:
1. Make 100 snaps for a single user
2. preview it

**Expected behavior**
all photo sna

[2022-02-03 09:54] arjunshukla22 opened #134 "Remove Snaps From Story || Crash when user back after story delete"
How can we remove particular snaps for other user ?

can you share me some example here

Case : if one user has 3 story , Once dev delete last story (3rd) , Story move to next user story & when dev tap back & App Got Crash

[2022-02-03 15:52] boominadhapm commented on #134
@arjunshukla22 We will check and revert you back.

[2022-02-07 11:37] arjunshukla22 commented on #134
Any update guys @boominadhapm

[2022-02-07 14:32] boominadhaprakash commented on #134
@arjunshukla22 Sorry, we didn't get time to check this issue since we are busy with our own work. Can you share the screenshot of where it is crashing?

[2022-04-05 06:46] niravpadhiyar09 opened #135 "view controller turns into full screen"
While the story ends and goes to the next story automatically that time view - controller turns into fullscreen

https://user-images.githubusercontent.com/68903203/161694973-20238dab-868d-4e39-89b2-167e994d735e.mov

It happens only when the next story comes automatically,
it's working fine in manually changing the story by tapping on the screen.

[2022-04-06 08:13] boominadhaprakash commented on #135
@niravpadhiyar09 Okay. We will check it and revert you back.

[2022-06-22 10:05] bogdanmatasaru opened #136 "ipad issue"
navigation between stories doesnt work on ipad

https://youtube.com/shorts/wVZZivVWCf0

thanks!

[2022-06-22 10:15] boominadhaprakash commented on #136
@bogdanmatasaru We haven't wrote this code to support for iPad. We have created this repo to support for iPhone. We haven't even tested. for iPad. If possible you can look through the code and give us a pull request.

[2022-07-22 12:53] arslankaleem7229 opened #137 "Adding that module causes disturbance in remaining app layout"
My app is completed now in newer version I decided to add stories. Working fine but somehow it is disturbing layout of other screens. It's a strange behaviour but it's true.
I thought maybe I made some changes that causes this effect and reverted back to other commits to check but when I deleted this module everything started working fine.

[2022-08-01 05:02] #119 closed, assigned to ranmyfriend, boominadhaprakash

[2022-08-01 05:03] #136 closed, assigned to ranmyfriend, boominadhaprakash

[2022-08-01 05:03] #122 closed, assigned to ranmyfriend, boominadhaprakash

[2022-09-23 11:27] gauravBhamre27 opened #138 "I'm not able to play video Mainfest file."
We are trying to load the below Manifest type of URL, but we are not able to play that.
File URL  :- **(file-location/manifest(format=m3u8-aapl))**
Could you please check this?

Thanks!

[2022-09-23 16:31] ranmyfriend commented on #138
We are supporting only on iOS App.

[2022-09-24 06:00] gauravBhamre27 commented on #138
@ranmyfriend
Yes, I'm using this in iOS.

[2022-09-27 11:16] gauravBhamre27 commented on #138
@ranmyfriend
We are loading the below URL :
http://revohloomedia.streaming.mediaservices.windows.net/93b41fb4-7aa8-4ca6-adae-1d39c18538af/7ce1d99d462d41fea67c8e45e3f9c737.ism/manifest(format=m3u8-aapl)

While loading this Video URL in the story we are getting the below errors…

Error: execSQLStatement:onConnection:toCompletionWithRetry:writeLockHelp - SQL=BEGIN IMMEDIATE TRANSACTION;, error-code=1

[2022-09-28 06:07] boominadhaprakash commented on #138
@gauravBhamre27

There is no issue with our project. iOS can't handle this kind of url. If you want to try you can create one sample iOS project and load the url in the AVPlayer.

Please refer this:
[https://stackoverflow.com/questions/69897413/why-cant-i-play-certain-m3u8-items-with-avplayer](https://stackoverflow.com/questions/69897413/why-cant-i-play-certain-m3u8-items-with-avplayer)

[2022-11-07 15:41] Harishreddy122 commented on #124
Hi @Shariif-Islam & @boominadhaprakash

Did you find any solution for this issue. If you have this will be very helpful to me as am also having the same requirement.

[2022-11-22 13:19] ilia1103 opened #139 "How to configure Source folder"
After drag n drop folder Source to target of my project i have errors:
Cannot find type 'LayoutType' in scope
How to put data in your Stories?
Maybe u have some documentation or example?

Ty, i will be wait any you answers

[2022-11-23 06:55] boominadhaprakash commented on #139
@ilia1103 May I know how you have downloaded source code?
Currently we are reading stories from json file. That you can refer the Instagram Stories source code.
You can change that implementation by loading the content from api response. It is better to have an api response similar to the model json file content.

[2022-11-24 05:11] ilia1103 commented on #139
Hello. I downloaded the entire project, moved the Source folder to my project, added it to target. After that, when assembling, I get an error - Cannot find type 'layoutType' in scope in the IGStroryPreviewFile file
<img width="910" alt="Снимок экрана 2022-11-24 в 08 10 47" src="https://user-images.githubusercontent.com/80444674/203699283-73180a40-a8ac-47d6-b456-bc588c8354ad.png">

[2022-11-24 05:14] boominadhaprakash commented on #139
@ilia1103 But the source code is not looks like what you have shared now.

<img width="1256" alt="image" src="https://user-images.githubusercontent.com/16302912/203699726-ac81a6a9-6c7b-4078-9610-c99d7f7bf5d2.png">

I am seeing the source code like IGLayoutType?

[2022-11-24 07:52] ilia1103 commented on #139
I don't know how this could happen, I probably downloaded the wrong source code, now everything is compiled without errors, can you tell me exactly how to run your controller from the code? I created a collection, when I click I want to get into your controller with stories.

[2022-11-24 08:11] ilia1103 commented on #139
I will create a new Controller in storyboard, I gave him the IGStoryPreviewController class, after starting the controller in this way, I get the error fatal error: initialization(coder:) was not implemented